[2020-07-30 05:49] #1071 closed

[2020-07-30 05:49] indraganzorig commented on #719
Hey there,

This is in the long-term pipelines.

We've moved our enhancement/feature requests into https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 05:50] Mambatukaa commented on #1078
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 05:50] #1078 closed

[2020-07-30 05:50] Mambatukaa commented on #1082
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 05:50] #1082 closed

[2020-07-30 05:51] Mambatukaa commented on #1083
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 05:51] #1083 closed

[2020-07-30 05:51] Mambatukaa commented on #1089
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 05:51] #1089 closed

[2020-07-30 05:51] #2132 closed

[2020-07-30 05:52] Mambatukaa commented on #1095
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 05:52] #1095 closed

[2020-07-30 05:53] indraganzorig commented on #800
Hey there,

We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. This idea has been recorded as an insight.

Thank you.

[2020-07-30 05:53] #800 closed

[2020-07-30 05:53] Mambatukaa commented on #1098
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 05:53] #1098 closed

[2020-07-30 05:54] Mambatukaa commented on #1106
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 05:54] #1106 closed

[2020-07-30 05:58] Mambatukaa commented on #1116
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 05:58] #1116 closed

[2020-07-30 05:58] indraganzorig commented on #1142
Hey there,

I'm happy to say that this enhancement is in the works at the moment. You will be able to select a channel for each new integration you create.

We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. This idea has been recorded as an insight.

Thank you.

[2020-07-30 05:58] #1142 closed

[2020-07-30 05:59] Mambatukaa commented on #1107
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 05:59] #1107 closed

[2020-07-30 06:00] Mambatukaa commented on #1109
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:00] #1109 closed

[2020-07-30 06:00] indraganzorig commented on #1141
Hey there,

This feature is available for Messenger.
But we're currently working on improving it.

We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. This idea has been recorded as an insight.

Thank you.

[2020-07-30 06:00] #1141 closed

[2020-07-30 06:01] Mambatukaa commented on #1111
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:01] #1111 closed

[2020-07-30 06:02] indraganzorig commented on #1561
Hey there,

We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. This idea has been recorded as an insight.

Thank you.

[2020-07-30 06:02] #1561 closed

[2020-07-30 06:02] Mambatukaa commented on #1140
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:02] #1140 closed

[2020-07-30 06:02] Mambatukaa commented on #1145
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:02] #1145 closed

[2020-07-30 06:03] indraganzorig commented on #1201
Hey there,

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
This idea has already been copied as an insight.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:03] #1201 closed

[2020-07-30 06:03] Mambatukaa commented on #1157
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:03] #1157 closed

[2020-07-30 06:04] Mambatukaa commented on #1162
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:04] #1162 closed

[2020-07-30 06:04] indraganzorig commented on #1590
Hey there,

You can automate emaling tasks with the combination of Event Tracking - Segment - Engage.

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:04] #1590 closed

[2020-07-30 06:04] Mambatukaa commented on #1199
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:04] #1199 closed

[2020-07-30 06:05] Mambatukaa commented on #1206
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:05] #1206 closed

[2020-07-30 06:05] Mambatukaa commented on #1207
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:05] #1207 closed

[2020-07-30 06:06] Mambatukaa commented on #1221
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:06] #1221 closed

[2020-07-30 06:06] Mambatukaa commented on #1237
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:06] #1237 closed

[2020-07-30 06:06] indraganzorig commented on #1774
Hey there Jasveen,

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
This idea has already been copied there as an insight.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:06] Mambatukaa commented on #1240
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:06] #1240 closed

[2020-07-30 06:06] #1774 closed

[2020-07-30 06:07] Mambatukaa commented on #1256
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:07] #1256 closed

[2020-07-30 06:07] indraganzorig commented on #649
Hey there,

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
This idea has already been copied as an insight.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:07] #649 closed

[2020-07-30 06:07] Mambatukaa commented on #1258
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:07] #1258 closed

[2020-07-30 06:08] indraganzorig commented on #1792
Hey there,

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
This idea has already been copied there as an insight.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:08] Mambatukaa commented on #1267
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:08] #1267 closed

[2020-07-30 06:09] Mambatukaa commented on #1274
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:09] #1274 closed

[2020-07-30 06:09] Mambatukaa commented on #1281
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:09] #1281 closed

[2020-07-30 06:10] Mambatukaa commented on #1282
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:10] #1282 closed

[2020-07-30 06:10] indraganzorig commented on #1588
Hey there,

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
This idea has already been implemented.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:10] #1588 closed

[2020-07-30 06:10] indraganzorig commented on #1586
Hey there,

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
This idea has already been implemented.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:10] #1586 closed

[2020-07-30 06:10] Mambatukaa commented on #1289
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:10] #1289 closed

[2020-07-30 06:11] Mambatukaa commented on #1375
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:11] #1375 closed

[2020-07-30 06:11] indraganzorig commented on #1788
Hey there,

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
This idea has already been copied there.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:11] #1788 closed

[2020-07-30 06:11] Mambatukaa commented on #1290
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:11] #1290 closed

[2020-07-30 06:12] Mambatukaa commented on #1377
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:12] #1377 closed

[2020-07-30 06:12] indraganzorig commented on #1630
Hey there,

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
This idea has already been copied there as an insight.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:12] #1630 closed

[2020-07-30 06:12] Mambatukaa commented on #1383
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:12] #1383 closed

[2020-07-30 06:13] Mambatukaa commented on #1447
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:13] #1447 closed

[2020-07-30 06:14] Mambatukaa commented on #1487
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:14] #1487 closed

[2020-07-30 06:15] Mambatukaa commented on #1535
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:15] #1535 closed

[2020-07-30 06:15] Mambatukaa commented on #1580
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:15] #1580 closed

[2020-07-30 06:16] Mambatukaa commented on #1585
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:16] #1585 closed

[2020-07-30 06:16] Mambatukaa commented on #1587
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:16] #1587 closed

[2020-07-30 06:17] Mambatukaa commented on #1607
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:17] #1607 closed

[2020-07-30 06:17] Mambatukaa commented on #1626
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:17] #1626 closed

[2020-07-30 06:18] Mambatukaa commented on #1635
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:18] #1635 closed

[2020-07-30 06:18] Mambatukaa commented on #1637
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:18] #1637 closed

[2020-07-30 06:19] Mambatukaa commented on #1654
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:19] #1654 closed

[2020-07-30 06:20] Mambatukaa commented on #1658
Hey there, This is already done
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:20] #1658 closed

[2020-07-30 06:21] Mambatukaa commented on #1662
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:21] #1662 closed

[2020-07-30 06:21] Mambatukaa commented on #1663
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:21] #1663 closed

[2020-07-30 06:22] Mambatukaa commented on #1665
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:22] #1665 closed

[2020-07-30 06:23] Mambatukaa commented on #1679
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:23] Mambatukaa commented on #1730
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:23] #1730 closed

[2020-07-30 06:24] Mambatukaa commented on #1775
Hey there,
Thank you for your suggestion. We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. I've already copied and submitted this insight there.

Thank you.

[2020-07-30 06:25] Mambatukaa commented on #1780
Hey there,
Thank you for your suggestion. We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. I've already copied and submitted this insight there.

Thank you.

[2020-07-30 06:26] Mambatukaa commented on #1791
Hey there,
Thank you for your suggestion. We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. I've already copied and submitted this insight there.

Thank you.

[2020-07-30 06:27] Mambatukaa commented on #1796
Hey there,
Thank you for your suggestion. We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. I've already copied and submitted this insight there.

Thank you.

[2020-07-30 06:27] Mambatukaa commented on #1797
Hey there,
Thank you for your suggestion. We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. I've already copied and submitted this insight there.

Thank you.

[2020-07-30 06:28] Mambatukaa commented on #1886
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:29] Mambatukaa commented on #2163
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:30] Mambatukaa commented on #2164
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:30] Mambatukaa commented on #2165
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:31] Mambatukaa commented on #2167
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:34] indraganzorig commented on #2098
This has been implemented.
Closing this issue.

[2020-07-30 06:34] #2098 closed

[2020-07-30 06:38] indraganzorig commented on #2118
Hey there,

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
This idea has already been copied there as an insight.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:38] #2118 closed

[2020-07-30 06:40] indraganzorig commented on #2123
Did you mean this one: https://erxes.io/dmca ?

Please create a different issue with valid context and more in-depth description.

Closing this issue until then.

[2020-07-30 06:40] #2123 closed

[2020-07-30 06:41] indraganzorig commented on #2143
This issue has been created separately for each individual subfeature.

[2020-07-30 06:41] #2143 closed

[2020-07-30 06:42] indraganzorig commented on #695
This issue has a more recent duplicate. Closing this one to keep the Issues less cluttered.

[2020-07-30 06:42] #695 closed

[2020-07-30 06:48] Mambatukaa commented on #447
Hey there,

This issue is outdated or there is a more recent duplicate.
Closing this issue to keep the Issues less cluttered.

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:48] #447 closed

[2020-07-30 06:49] Mambatukaa commented on #448
Hey there,

This issue is outdated or there is a more recent duplicate.
Closing this issue to keep the Issues less cluttered.

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:49] #448 closed

[2020-07-30 06:49] Mambatukaa commented on #570
Hey there,

This issue is outdated or there is a more recent duplicate.
Closing this issue to keep the Issues less cluttered.

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:50] indraganzorig commented on #1932
Hey there,

This issue is outdated or there is a more recent duplicate.
Closing this issue to keep the Issues less cluttered.

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:50] #1932 closed

[2020-07-30 06:50] Mambatukaa commented on #617
Hey there,

This issue is outdated or there is a more recent duplicate.
Closing this issue to keep the Issues less cluttered.

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:51] Mambatukaa commented on #754
Hey there,

This issue is outdated or there is a more recent duplicate.
Closing this issue to keep the Issues less cluttered.

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:52] Mambatukaa commented on #773
Hey there,

This issue is outdated or there is a more recent duplicate.
Closing this issue to keep the Issues less cluttered.

We've moved our enhancement/feature requests to https://roadmap.erxes.io.
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 06:53] Mambatukaa commented on #827
Hey there, This is already done.
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 07:02] Mambatukaa commented on #1924
Hey there,
Thank you for your suggestion. We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. I've already copied and submitted this insight there.

Thank you.

[2020-07-30 07:11] Mambatukaa commented on #1942
Hey there,
Thank you for your suggestion. We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. I've already copied and submitted this insight there.

Thank you.

[2020-07-30 07:11] #1942 closed

[2020-07-30 07:12] Mambatukaa commented on #1969
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 07:12] #1969 closed

[2020-07-30 07:12] Mambatukaa commented on #1983
Hey there,
We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features.

Thank you.

[2020-07-30 07:12] #1983 closed

[2020-07-30 07:13] Mambatukaa commented on #1986
Hey there,
Thank you for your suggestion. We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. I've already copied and submitted this insight there.

Thank you.

[2020-07-30 07:13] #1986 closed

[2020-07-30 07:15] Mambatukaa commented on #2031
Hey there,
Thank you for your suggestion. We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. I've already copied and submitted this insight there.

Thank you.

[2020-07-30 07:15] #2031 closed

[2020-07-30 07:16] Mambatukaa commented on #2089
Hey there,
Thank you for your suggestion. We've moved our enhancement/feature requests to https://roadmap.erxes.io
Please use this link in the future to submit your features. I've already copied and submitted this insight there.

Thank you.

[2020-07-30 07:16] #2089 closed

[2020-07-30 07:24] batamar commented on #1929
@akhileshcse Please elaborate more. Feel free to reopen

[2020-07-30 07:24] #1929 closed

[2020-07-30 07:25] #1899 closed

[2020-07-30 07:27] batamar commented on #1175
Too old

[2020-07-30 07:27] #1175 closed

[2020-07-30 07:45] batamar commented on #2159
Duplicated https://github.com/erxes/erxes/issues/2030

[2020-07-30 07:45] #2159 closed

[2020-07-30 07:49] batamar commented on #1055
Too vague

[2020-07-30 07:49] #1055 closed

[2020-07-30 09:37] Buyantogtokh opened #2174 "Inbox conversation filter is not working"
**Describe the bug**
Inbox conversation filter is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to inbox
2. Click on "Load more" button to load conversations
3. Select start & end date from date chooser
4. Click filter

**Expected behavior**
Conversations should be filtered by date

**Screenshots**
![inbox-filter](https://user-images.githubusercontent.com/5917302/88907247-f

[2020-07-30 10:33] mendorshikh opened #2175 "Ability to download a signed DPA straight from Org Settings"
**Is your enhancement request related to a problem? Please describe.**
DPA (Data Processing Agreement) is crucial to have of your business operates in the EU and to comply with GDPR regulations.

**Describe the solution you'd like**
In order to simplify the process of acquiring a valid and signed DPA from us, it would be great if customers can download it straight from their erxes dashboards.
**Ad

[2020-07-30 10:33] mendorshikh commented on #2175
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5223011

[2020-07-31 02:40] Enkhtuvshin0513 opened #2176 "Add checkbox option for Export"
Users can now choose which field to export
![88137823-fa617e80-cc1e-11ea-8106-12aeb7ab5e06](https://user-images.githubusercontent.com/37796969/88994125-3f219f80-d31a-11ea-923c-0ca8fdbf3067.png)

[2020-07-31 02:53] Enkhtuvshin0513 opened #2178 "Make possible to import csv file"

[2020-07-31 05:52] Enkhtuvshin0513 opened #2180 "Add xlsx or csv chooser on download template"

[2020-07-31 06:56] CRGavrila commented on #2168
@batamar
Sorry for late response, here is the log of unhealthy container:
file:
[log.txt](https://github.com/erxes/erxes/files/5005566/log.txt)
log:
`
2020-07-31T06:50:11.343+0000 I CONTROL  [initandlisten] MongoDB starting : pid=1 port=27017 dbpath=/data/db 64-bit host=25059dc81b01
2020-07-31T06:50:11.343+0000 I CONTROL  [initandlisten] db version v3.6.13
2020-07-31T06:50:11.343+0000 I CONTROL  [

[2020-07-31 10:55] #2152 closed

[2020-07-31 16:44] kang28ivan commented on #2168
Try install with debian options, previously I used the docker to have the same error like that, but you need import erxes-api folder manual with git clone if install with debian.

[2020-07-31 20:27] luko0610 commented on #1800
I could take that issue if you want. The main reason for that happening is the social icons in the footer increasing overall width.
I would fix it by splitting them up into two columns.

Please let me know if you want me to fix it.

[2020-08-01 09:17] kang28ivan opened #2181 "Chat Sound and Browser Tab Notification"
**Is your feature request related to a problem? Please describe.**
At this time for incoming chat notifications sometimes appear and sometimes do not appear and chat replies are not available so, when the visitors who replies to the chat, this does not have a notification at all to the agent including no sound ding/dong, so agents often miss replying to chats because they don't see the conversatio

[2020-08-01 10:29] davidkartuzinski commented on #2181
@kang28ivan Thank you for your feedback.  These seems like a great area to improve. Can you clarify the way you're using erxes. It seems like your agents have erxes open in a tab but perhaps working in other tabs. You would like a better notification method so that your agents "catch" the messages. In this case, a "ding/dong" sound.  Is that correct?

How do you feel about:

1. Adding a little not

[2020-08-01 10:56] davidkartuzinski commented on #1800
@ganzorig - Could you please help with this?

[2020-08-01 11:03] davidkartuzinski commented on #2168
@kang28ivan Thanks for your help. We are moving towards only officially supporting Ubuntu 18.04. I am trying to finish updating the docs here: https://www.erxes.org/installation/ubuntu. But in the next update the pages for Debian, CentOS and Rehl will be deprecated.

We are working on a much easier installation process - which will make you happy! Stayed tuned as we are working on this now and try

[2020-08-01 11:09] davidkartuzinski commented on #1924
This should probably be considered a "bug". Our Demo site should have realistic information. @batamar - I am not sure who should deal with this?

[2020-08-01 11:13] davidkartuzinski commented on #570
@batchimeg-a - Could you please provide a better description of the bug?

[2020-08-01 11:16] davidkartuzinski commented on #754
@batamar @Mambatukaa - If this is a duplicate issue, can we link to the duplicate issue and close this one?

[2020-08-01 11:20] davidkartuzinski commented on #1932
@Enkhtuvshin0513 - With your recent import/export improvement. Can we now add a tag on a customer or company when we import? I think so?

If yes, can you reopen and close this issue and reference the Pull Request you made?

[2020-08-01 11:22] davidkartuzinski commented on #695
@indraganzorig - Can you please link to the duplicate issue? Interested users should have an easy way to follow and comment on this specific issue. Thank you.

[2020-08-01 11:36] davidkartuzinski commented on #2118
This issue is related to https://github.com/erxes/erxes/issues/2181. @karser I will ask you to comment on this linked issue. Thank you for your input. This is definitely a key point for anyone using the Chat.

[2020-08-01 11:38] davidkartuzinski commented on #2181
@karser -suggested an email to the Agent/Operator if they are not logged in.  Perhaps this feature could be "logged in and active in the last 15 minutes".  @kang28ivan - what do you think about this? @ganzorig any thoughts?

[2020-08-01 11:43] davidkartuzinski commented on #1886
@MujiGMJ @soyombo-baterdene - Has this issue been handled? It seems this was accidentally closed.

[2020-08-01 11:47] karser commented on #2181
Erxes uses browser notifications and the sound is up to the OS. On my desktop (ubuntu 18.04) I hear the chat sound when the tab is not active.
But still it's hard to underestimate the importance of notifications, so auxiliary tools are never superfluous.

[2020-08-01 11:49] davidkartuzinski commented on #1797
@dhairyaostwal - As a fellow internet marketer I totally agree that Video marketing is probably the most effective form of marketing. I am having a little trouble understand your idea.

Are you want us to provide a way to add a video from YouTube, Dailymotion, etc in the pop-up? Or are you asking for the ability to edit and create videos?

Or perhaps are you suggesting an integration with an outsi

[2020-08-01 11:57] davidkartuzinski commented on #2181
@karser Thank you. I will wait to see if there is additional feedback.

[2020-08-01 12:06] davidkartuzinski commented on #1796
@dhairyaostwal Thank you for your points here.

1. I was recently hired as the Developer Advocate here at erxes. I would love to hear your ideas on how we can improve and make the community feel more welcoming and especially how it can be more helpful to you?
2. The learning and education hub is something that the founders are passionate about. As a internet marketer myself, I totally understand t

[2020-08-01 12:09] davidkartuzinski commented on #1791
@ganzorig - This is actually a bug.

[2020-08-01 12:12] davidkartuzinski commented on #1780
@AsherThomasBabu Thank you for your report.  This is actually an accessibility issue. @ganzorig

[2020-08-01 12:15] davidkartuzinski commented on #1775
@jsxs0 - Thanks for your report. This fell through the cracks. Are you using the latest version of erxes? On you using WordPress or how are you using Chat? Ar you still seeing the crashes?

[2020-08-01 12:19] davidkartuzinski commented on #1679
@ganzorig @batchimeg-a - Has this issue been resolved? Has this been implemented?

[2020-08-01 12:45] davidkartuzinski commented on #1792
@DevenRathod2 - We are already improving the installation docs and also the installation process to make it even easier for all developers. Look out for new stuff over the next 2-4 weeks.

You should know that the apps are being considered for a total rework and will soon be going into a planning stage.

Can you please clarify what you need for the sample android or iOS SDK?  We can add your feedb

[2020-08-01 13:35] davidkartuzinski commented on #719
@indraganzorig I didn't see this in productboard. Could you please add it? That way we can get additional feedback and votes for this feature!  Thank you.

[2020-08-01 14:07] davidkartuzinski commented on #719
@veerjainATgmail - Please see https://roadmap.erxes.io/c/23-conversational-bots?utm_medium=social&utm_source=portal_share and if you still would like to see this feature developed, vote on it. I am closing this issue.

[2020-08-01 14:07] #719 closed

[2020-08-01 15:39] kang28ivan commented on #2181
Hi @davidkartuzinski thank you, sir, in some cases the agent does not receive notifications such as a chat reply from the visitor (this happened several times) is this the fault of our browser or is the visitor too quick to reply, so there is no notice to us.

also when the agent replies to the chat the visitor does not receive a notification sound or running text on tab (I don't know how to expla

[2020-08-01 15:48] kang28ivan commented on #2168
Thank you sir, I have successfully installed on Debian a few days ago there were no problems but on debian I have to edit manually on the version used and import the integration folder and api manually, related on https://github.com/erxes/erxes/issues/2152#issuecomment-665713162

[2020-08-01 16:37] dhairyaostwal commented on #1797
Hey @davidkartuzinski thanks very much for your interest! Here I was referring to the feature to edit videos and images since it's going to be a marketing software.
Marketing in terms of short movie clips and with new features like Instagram Reels I think it'd be a good feature to add in.

@davidkartuzinski also one kind request if you could check in for my goodies to be delivered. Thanks 😄

[2020-08-01 18:30] davidkartuzinski commented on #1797
@dhairyaostwal - Thank you for clarifying about the videos and images. Unfortunately editing videos (and therefore hosting them) is beyond the scope and vision for erxes.

Image editing could one day be implemented. What use case do you see you mostly using image editing for?

As to your goodies. Who were you talking to about them? Were you promised some goodies? @indraganzorig

[2020-08-01 18:32] davidkartuzinski commented on #2168
@kang28ivan Thank you for clarifying this. I am going to close this issue. Feel free to reopen this one or open a new one if anything about the installation comes up again.

[2020-08-01 18:32] #2168 closed

[2020-08-01 18:43] davidkartuzinski commented on #2181
@karser Thank you for your clarification. (Your English is really good!) We will wait to see what anyone else thinks and then see if we can add this to our production timeline.

[2020-08-01 21:29] davidkartuzinski commented on #1795
@dhairyaostwal - We had already added Instagram and Twitter integration to our [backlog](https://www.scruminc.com/product-backlog/).

For Twitter - are you looking to manage DMs? Comments on your own tweets? @ Mentions? Sending and scheduling of Tweets? Could you please describe your exact use case.  As you know we value your feedback.

For Instagram - Please describe what you would expect to be a

[2020-08-02 16:25] ganzorig commented on #2039
@joepa37 we can collect data from pages visited. You want to view by date? ![Page views](https://i.ibb.co/zQF1TGG/Screen-Shot-2020-08-03-at-00-16-47.png)

[2020-08-03 04:33] ganzorig commented on #1791
I think it's solved or do i misunderstand that?

[2020-08-03 04:35] ganzorig commented on #1800
@davidkartuzinski ok

[2020-08-03 04:43] ganzorig commented on #2114
It's already fixed

[2020-08-03 04:44] #2114 closed

[2020-08-03 04:45] ganzorig commented on #1985
@laxminagln can you explain more clearly?

[2020-08-03 04:46] ganzorig commented on #1824
It's fixed

[2020-08-03 04:47] #1824 closed

[2020-08-03 05:38] joepa37 commented on #2039
@ganzorig yes, after a few time collecting data, will be a better way to see the flow how the user moves within the website ordering by date; as a real visit history.

[2020-08-03 07:30] ganzorig commented on #1679
it's resolved

[2020-08-03 07:30] #1679 closed

[2020-08-03 07:32] ganzorig commented on #1620
it's fixed

[2020-08-03 07:32] #1620 closed

[2020-08-03 10:10] indraganzorig opened #2189 "Segments/Visitors - not showing any properties to choose from"
**Describe the bug**
No properties are shown when a user wants to create a segment based on Visitors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings/Segments
2. Choose **Visitors**
3. Click on add Properties

**Expected behavior**
A list of options to choose from, i.e session count, etc.

**Screenshots**

<img width="505" alt="Screenshot 2020-08-03 18 04 28" src="https://user

[2020-08-03 14:12] joepa37 opened #2190 "[Feature Request] Screen Sharing"
Screen Sharing for support teams and customers on desktop explorer browsers.

[2020-08-03 15:55] Buyantogtokh opened #2191 "Show server time & online status at messenger home"
**Is your enhancement request related to a problem? Please describe.**
Some users are confused when integrations don't show timezone, supporter online status correctly at messenger widget home view. Also, supporters online status is determined from server time, so showing server time makes things clear.

**Describe the solution you'd like**
Show server time & supporter online status at messenger h

[2020-08-03 21:36] davidkartuzinski commented on #2190
@joepa37

Thank you very much for your request.  Could you describe the exact use case? That would help as we consider the implementation of a new feature or integration that does this.

For example, would the agent already be on the phone with the person? Just chatting? Would it be similar to the Microsoft Customer service sharing link or act more like teamviewer? How do you see this working? How

[2020-08-03 21:40] davidkartuzinski commented on #1791
@ganzorig - I tried to recreate the bug and it looks fixed. Let's close the issue unless @DevenRathod2 clarifies it again.

[2020-08-03 21:40] #1791 closed

[2020-08-04 15:46] ViabGit opened #2193 "Ticket number"
**It would be nice if the tickets have a tracking number, in order to inform consumers.**

[2020-08-04 15:54] ViabGit opened #2194 "Searchbox in top bar"
It would be nice to have a search box in the top bar to be able to search for words within messages, for example a tracking number

[2020-08-05 03:50] ViabGit opened #2195 "Custom email appearanse - not allow modification"
**Describe the bug**
It does not allow to modify texts

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on 'email appearanse'
3. Click on  'Custom
4. Click on 'image propperies'
5. does not allow modification

**Expected behavior**
be able to modify the link

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.git

[2020-08-05 11:32] davidkartuzinski commented on #2195
@ViabGit - Did you try to click the lock? Are you referring to the Alt Text? or the image sizes? Please add a little bit more information about which text you're trying to edit? (Otherwise, thank you for a very nice issue submit! )

[2020-08-05 11:35] davidkartuzinski commented on #2194
@ViabGit - Are you asking for a search box in the Team Inbox? Or for the whole app?  Which top bar are you asking about?

It's a good idea, but I want to ensure I understand your request?

[2020-08-05 11:38] davidkartuzinski commented on #2193
@batamar @ganzorig - This seems like a legitimate request.

@ViabGit - Thank you.

[2020-08-05 12:13] ViabGit commented on #2194
I know I search among all the webchats

[2020-08-05 12:22] ViabGit commented on #2195
[https://youtu.be/tJVq5Wkj9VM](url)

[2020-08-05 12:29] ViabGit opened #2196 "Connected agents view"
**Is your feature request related to a problem? Please describe.**
I can't see the agents that are connected

**Describe the solution you'd like**
I would like to see on a screen the agents that are connected answering chats

[2020-08-05 14:46] davidkartuzinski commented on #2195
@ganzorig - This looks like a bug.

@ViabGit Thank you for the video.  That makes things clear.

[2020-08-07 09:33] uhlhosting opened #2202 "How to add/change Mail Service providers?"
**Describe the bug**
Integrating with custom mail server fails with Postal/Cpanel

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Custom mail service
<img width="626" alt="image" src="https://user-images.githubusercontent.com/6324047/89631299-e5345300-d8a0-11ea-918d-e76e81190463.png">
2. Click on 'Custom mail service'
3. Scroll down to 'input settings form'
4. See error

**E

[2020-08-07 11:09] davidkartuzinski commented on #2202
@batamar - Can you please ask the correct person to help on this issue? @uhlhosting will need some basic instructions on how to do the Postal and/or Zimbra integration if it is at all possible.

Postal:
https://postal.atech.media/
https://github.com/postalhq/postal

Zimbra:
https://www.zimbra.com/
https://github.com/Zimbra

Zimbra looks better maintained to me than Postal.

[2020-08-07 11:30] uhlhosting commented on #2202
Zimbra its also a super solution for people who look exchange alternatives.

On the other side Postal its for huge ammount of emails to send track and route. They are kinda two different solutions.

See zimbra as office365/exchange alternative,

While postal its more a mailgun/sendgrid/aws ses alternative.

[2020-08-07 13:08] uhlhosting opened #2203 "Daily Video calls missing https:// cause errors"
**Describe the bug**
Trying to get Daily.co integration to work. Made the account, activated API and made the team:
<img width="525" alt="image" src="https://user-images.githubusercontent.com/6324047/89646994-17ec4480-d8bd-11ea-8493-9a27895e0b5c.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Chat on website'
2. Click on 'Video/Audio Call from messenger'
3. Go back to App dashbo

[2020-08-07 13:36] uhlhosting opened #2204 "Messenger supporter custom icons broken"
**Describe the bug**
Icons displayed as broken in Safari 14.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Messenger'
2. Click on 'Greetings > Supporters'
3. Add the name of the suporters.
4. See error

**Expected behavior**
See normal icons

**Screenshots**
<img width="692" alt="image" src="https://user-images.githubusercontent.com/6324047/89651041-977d1200-d8c3-11ea-81ac-a2c6954a

[2020-08-07 18:09] davidkartuzinski commented on #2204
@uhlhosting Thank you for your issue!

[2020-08-07 18:11] davidkartuzinski commented on #2203
@uhlhosting - Can you confirm that this is a Safari only bug? And did you try clearing the cache on Safari?

[2020-08-08 17:46] uhlhosting commented on #2203
@davidkartuzinski this seems to be mostly caused by missconfigured entry in END POINT, the documentation shows to enter FQDN without http:// or https:// doing so will fail on every browser.

[2020-08-09 19:52] engmsaleh commented on #2012
Any updates on new Facebook policy change ?

[2020-08-09 20:47] uhlhosting commented on #2204
It seems the icons are broken accross whole services, from email template:

<img width="583" alt="image" src="https://user-images.githubusercontent.com/6324047/89741511-335c7880-da92-11ea-8ea0-76fe975225f4.png">

To the user area replies.

[2020-08-09 20:49] uhlhosting commented on #2202
The good part about postal, is that it has transactional API for sending mails. And their API is very simple!

[https://krystal.github.io/postal-api/](url)

[2020-08-10 10:46] davidkartuzinski commented on #2194
@ganzorig - Can we put this in the ProductBoard? It looks like it's a new feature...

[2020-08-10 10:47] davidkartuzinski commented on #2202
@batamar - Who should be looking at this?

[2020-08-10 10:48] davidkartuzinski commented on #2204
@Enkhtuvshin0513 - Are you aware of this?

[2020-08-10 11:22] RileySeaburg opened #2207 "Native Gmail Integration Not Syncing [Successfully Configured]"
**Describe the bug**
The native gmail integration, not the Nylas one does not synchronize the gmail inboxes even after a successful gmail integration is configured.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Erxes
2. Create Gmail API Key
3. Add key to erxes
4. Add user email to Gmail integration on erxes
5. Get successful save in green box.
6. Sent test email from another accoun

[2020-08-10 12:44] uhlhosting opened #2208 "Issues with IMAP mails import in dashboard"
**Describe the bug**
I am trying to make use of the helpdesk feature to have the emails sent to a certain mailbox imported into the dashboard where messennger messages are also visible.

**To Reproduce**
Steps to reproduce the behavior:
1. I went to settings > Nylas integration added the API and saved.
2. After that I clicked on IMAP by nylas
3. Added the server details imap/smtp details.
4. There

[2020-08-10 16:27] uhlhosting commented on #2202
Would be more than happy to provide an account on our Postal instance for testing if needed.

[2020-08-11 10:53] batamar opened #2210 "customers sort is not working"
**Describe the bug**
Contacts sort is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to contacts
2. Click on sort icon
3. See error

[2020-08-11 14:59] davidkartuzinski commented on #2207
@munkhorgil - Could you please let us know if this will be fixed in the next release for Friday 14 Aug or the next release? Thank you!

[2020-08-11 15:03] davidkartuzinski commented on #2208
@uhlhosting This turns out to be expected behavior. From my understanding this has been designed to only bring in new emails. @munkhorgil can confirm?

@Enkhtuvshin0513 - Can emails be imported using the import/export?

[2020-08-11 15:30] uhlhosting commented on #2208
The issue here is that no emails are adeed in. Not new not replies not old.

See this scenario. I email someone from helpdesk@ he will reply to the mail and therefor i expect to see his reply in erxes not outside. Since main email is sent from there.

[2020-08-11 15:52] RileySeaburg commented on #2207
I should have put this under erxes-integrations right?

[2020-08-11 18:24] davidkartuzinski commented on #2012
@engmsaleh - we are nearly ready to release our fixes and they should be released on Friday. This includes some corrections/edits on the documentation. We are also releases a few improvements to the Facebook integration which you will be excited about when you see the changelog.

@Enkhtuvshin0513 - do you want to say anything else about this?

[2020-08-11 18:30] davidkartuzinski commented on #2207
I don't think you can actually. I think only people in erxes can! But if you keep helping people in the community maybe we will have to give you the rights to participate more in the issues as well! ;)

[2020-08-11 18:32] davidkartuzinski commented on #2208
@uhlhosting - yes. Your use case should work but it isn't. We are addressing this.  I was asking about import/export because it's related to this issue and this feature.

[2020-08-11 20:16] rdev99 commented on #1780
hello I m new to open source. Can i contribute on this if anyone is not interested?

[2020-08-11 20:20] davidkartuzinski commented on #1780
@rdev99 Sure this would be helpful. Do you need help using GitHub to make the pull request? If you do, please find me in the [Rocket Chat](https://community.erxes.io/register/Gw4WRJnk9fSbyAXTq). Otherwise, I look forward to see you pull request!

[2020-08-11 21:51] engmsaleh commented on #2012
Great news @davidkartuzinski I will be waiting for the release 👍

[2020-08-12 01:27] RileySeaburg opened #2215 "Engages API Not Accessible"
**Describe the bug**
The engages API is not accessible.
When trying to update engages config setting a NGINX 405 Error appears

**To Reproduce**
Steps to reproduce the behavior:
1. Follow ubuntu detailed installation[ here ](https://www.erxes.org/installation/ubuntu/)
2. Log into Erxes
3. Open Settings & click on engages config
4. Add in Mail settings
5. Click save
6. See error

**Expected behavio

[2020-08-12 05:08] munkhorgil commented on #2207
I will work on that

[2020-08-12 16:52] davidkartuzinski commented on #2163
This is being closed as not needed at this time. It was automatically generated by ProductBoard where we are planning and tracking upcoming releases.

[2020-08-12 16:52] #2163 closed

[2020-08-12 20:23] davidkartuzinski commented on #2203
This was fixed with: https://github.com/erxes/erxes/commit/983920d1e65bb2e215b1a1f140559698fad7eaca.

Thank you @uhlhosting

[2020-08-12 20:23] #2203 closed

[2020-08-14 10:53] Buyantogtokh commented on #2152
@kang28ivan we've discovered and fixed this bug. Please check out the latest version.

[2020-08-14 11:06] mendorshikh opened #2219 "Popup alert message"

[2020-08-14 11:06] mendorshikh commented on #2219
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5364135

[2020-08-16 13:06] davidkartuzinski commented on #2215
@batamar - Not sure who should take care of this.

[2020-08-17 04:39] batamar commented on #2215
@RileySeaburg . Can i see the nginx config and pm2 list output ?

[2020-08-17 10:09] uhlhosting opened #2223 "Scripts created do not work on Wordpress sites."
**Describe the bug**
Using scripts in Wordpress is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings > Scripts'
2. Click on 'New script'
3. Scroll down to 'Scripts > Copy the code to paste on website'
4. See error, nothing happends.

**Expected behavior**
[code]
The code should allow users to get access quickly to messenger kb and this is simply conflicting while n

[2020-08-17 10:24] davidkartuzinski commented on #2223
@uhlhosting - Hi. People are getting it to work in WordPress. Where are you pasting the scripts?

[2020-08-17 10:24] batamar commented on #2223
@uhlhosting Please send the screenshot of browser console log messages?

[2020-08-17 10:51] uhlhosting commented on #2223
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/6324047/90388564-4a99f800-e088-11ea-92e4-9d3c032389e2.png">

[2020-08-17 12:10] uhlhosting commented on #2223
@batamar how can I use that patch in my setup? Is there a way to upgrade to this patch?

[2020-08-17 13:07] #2164 closed

[2020-08-17 13:07] #2167 closed

[2020-08-17 13:07] #2171 closed

[2020-08-17 13:07] #2172 closed

[2020-08-17 13:07] #2174 closed

[2020-08-17 13:07] #2113 closed

[2020-08-17 13:07] #2176 closed

[2020-08-17 13:07] #2178 closed

[2020-08-17 13:07] #2180 closed

[2020-08-17 13:07] #1901 closed

[2020-08-17 13:07] #2105 closed

[2020-08-17 13:07] #2191 closed

[2020-08-17 13:07] #2195 closed

[2020-08-17 13:08] #2223 closed

[2020-08-17 18:10] RileySeaburg commented on #2215
I'm no longer actively maintaining this project.

[2020-08-17 18:39] atharwa-24 opened #2227 "There is a break markdown in the README"
**Describe the bug**
The bettercode Badge code is broken
it is appearing as a link out there

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'README.md'
2. Click on 'Bettercode'
3. Fix the Line
![issue](https://user-images.githubusercontent.com/54115798/90431720-199ce000-e0e7-11ea-990a-f9fae7a33fb5.PNG)

**Expected behavior**
A clear and concise description of what you expected to happ

[2020-08-17 19:16] davidkartuzinski commented on #2227
@atharwa-24 - Thank you for your issue. I was **not** able to reproduce this issue. I tested the Readme in firefox, safari, chrome and microsoft. (On a mac). I checked also in Private Mode on each of these browsers.

I also checked on my mobile phone browsers.

Bettercode image is appearing in each of these browsers. Sometimes there is a little loading lag.

Could you please tell us your browser a

[2020-08-17 19:17] atharwa-24 commented on #2227
its seems fixed now!!!
I guess it would be a loading lag
@davidkartuzinski

[2020-08-17 19:18] atharwa-24 commented on #2227
windows 8.1
Mozilla Firefox

[2020-08-17 19:18] #2227 closed

[2020-08-18 04:50] ganzorig opened #2228 "Chat preview shows the same for all conversations"

[2020-08-19 07:20] Enkhtuvshin0513 opened #2232 "Make possible to convert facebook comment to deal,task,ticket"

[2020-08-19 07:42] Enkhtuvshin0513 commented on #2232
close at https://github.com/erxes/erxes/commit/7f12e932b38a9791ff4a0d9b2bc43ded40fe3d26

[2020-08-19 11:29] uhlhosting opened #2234 "Minify and serve compressed JS ressources! SEO Factor"
**Is your enhancement request related to a problem? Please describe.**
Enable compression for the following resources to reduce their transfer size by 774.9KiB (73% reduction).

[code]
<img width="1279" alt="image" src="https://user-images.githubusercontent.com/6324047/90629956-7c45c700-e220-11ea-9032-517538aa3672.png">

**Describe the solution you'd like**
Serve minified JS to enduser integration

[2020-08-19 13:14] mattes3 commented on #2055
Same thing, here! Is there a solution?

[2020-08-19 14:26] tarunsinghofficial commented on #2158
hey, can i work on this?

[2020-08-19 20:04] davidkartuzinski commented on #2158
@tarunsinghofficial - sure. Do you understand what needs to be done here?

[2020-08-19 20:06] davidkartuzinski commented on #2055
@batnasan - Can you please take a look at this?

[2020-08-19 20:07] davidkartuzinski commented on #2234
@ganzorig - could you look at this?

[2020-08-19 22:16] mattes3 commented on #2055
I suspect that the reason is this:

At https://www.erxes.org/installation/docker the final described step is this:

At https://www.erxes.org/installation/digitalocean there are *two* final described steps:

I think that the endpoint gets stuck because the `loadPermissionData` step is missing in the documentation of the Docker installation.

Can this be the cause?

[2020-08-20 01:19] batnasan commented on #2055
Hello everyone!
Let me have a look at the `docker-compose.yml` file and get back to you all.

[2020-08-20 06:55] #2219 closed

[2020-08-20 06:55] #2228 closed

[2020-08-20 07:05] munkhorgil commented on #2131
Close [579b0bc](https://github.com/erxes/erxes/commit/579b0bca36a9fb4ec24ec54a2e7a1c064a97621d)

[2020-08-20 08:26] batnasan commented on #2055
Hello again guys!

It turned out the `docker-compose.yml` had not been updated for a while and now it's been updated to v0.16.2.
I'll close this for now, please feel free to re-open it or open a new issue if you have any problems.

[2020-08-20 08:26] #2055 closed

[2020-08-20 09:36] mattes3 commented on #2055
The problem is not yet solved. I tried it on a fresh DigitalOcean droplet with Docker (got Ubuntu with Docker from DigitalOcean's marketplace). I changed docker-compose.yml to mostly 0.16.2, except erxes and erxes-widgets set to 0.16.0. This is what happened then:

[code]

Then, I started a Firefox browser and opened `localhost:3000`. I still get the image of a starting rocket and the message: "Ha

[2020-08-20 09:38] mattes3 commented on #2055
This was my `docker-compose.yml`:

[code]

[2020-08-20 09:41] mattes3 commented on #2055
I suspect that I still need to do a `loadPermissionData` but I don't know the syntax for the correct `docker exec` command.

[2020-08-20 09:47] batnasan commented on #2055
Hi @mattes3! Please go to https://www.erxes.org/installation/docker#install-erxes and use the `docker-compose.yml` file in the doc.
I can see that in your `docker-compose.yml` file, some of the image versions are not matched (et. 0.10.0). Also I updated env vars a little bit so I recommend you to use the `docker-compose.yml` from the doc and let me know how you go with that.

[2020-08-20 11:34] batamar commented on #2204
@uhlhosting Fixed in https://github.com/erxes/erxes/commit/352ea74df78b402c7b4520322ed62f995fd3549b

[2020-08-20 11:34] #2204 closed

[2020-08-20 16:50] munkhsaikhan opened #2235 "conversion view on pipeline resolvers"
**Is your enhancement request related to a problem? Please describe.**
Deals pipeline open then need conversion view data processing

**Describe the solution you'd like**
stage type change different two way

[2020-08-21 14:25] mattes3 opened #2238 "Can I send a "page viewed" event by hand in a single page app?"
## Problem

I have a single page app that uses self-hosted Erxes 0.16.0. When the single page app navigates to a new URL, Erxes does not hear about this. Therefore, in Erxes, the customer record does not show any "WEBSITE ACTIVITY" for those URL changes.

## Suggested solution

In my React code, I have a place that looks like this:

[code]

Inside my own function `analytics.page()`, I'd like to te

[2020-08-24 04:49] munkhorgil opened #2242 "Show conversation in the activity log of Task"
**Is your enhancement request related to a problem? Please describe.**
Show a brief conversation in task log instead of clicking on the button

**Describe the solution you'd like**
Show conversation in the activity log of Task

[2020-08-24 04:58] munkhorgil commented on #2242
[Closed](https://github.com/erxes/erxes-api/commit/18ae2592b833baea166a4eb87b10e05dc5277a1c)

[2020-08-24 07:59] softcheetah opened #2245 "Need to be able to start/end user session on messenger"
I need to be able to start/end user session on Erxes messenger so that I can keep sync of auth status between my app and Erxes messenger.
So when the user signs out from the app, I need to end the user session on Erxes as well.
And then, if another user signs-in, I need to start a new user session for him.

The use case is within a React SPA.

According to the docs, `window.erxesSettings` should b

[2020-08-24 08:39] davidkartuzinski commented on #1795
@mattes3 - So it seems you're mostly interested in responding to @mentions and responses to tweets.  Not necessarily replacing tweetdeck or other twitter platform?

[2020-08-24 08:43] mattes3 commented on #1795
No, I’m trying to make the “unified inbox” come true.

On 24. August 2020 at 10:39:38, David Kartuzinski (notifications@github.com)
wrote:

@mattes3 <https://github.com/mattes3> - So it seems you're mostly
interested in responding to @mentions and responses to tweets. Not
necessarily replacing tweetdeck or other twitter platform?

—
You are receiving this because you were mentioned.
Reply to this

[2020-08-24 08:47] davidkartuzinski commented on #1795
@mattes3 - Totally understand. I have added your thoughts and ideas to our Product Board as a feature request to be planning and scheduled.  You may add more ideas to this issue as you think of them. We have the same goal for the "Unified Team Inbox"!

Thank you @dhairyaostwal for ideas as well. You may continue to communicate about this in this issue.

[2020-08-24 14:28] munkhorgil opened #2247 "Show email, call actions in portable customers box"
**Is your enhancement request related to a problem? Please describe.**
Take actions such as email, call, remove, and merge customer right away.

**Describe the solution you'd like**
Show action buttons in Task/Deal EditForm

[2020-08-25 02:15] munkhjin0223 opened #2248 "Can not verify email and phone after filling popup when the customer has been already created"
**Describe the bug**
Email and phone aren't verified after filling popup when the customer has been already created.

**To Reproduce**
Steps to reproduce the behavior:
1. Use popup and messenger widget on the same website
2. Firstly send a message by messenger (customer will be created automatically)
3. Fill a popup (it needs to be an email or phone)
4. Go to a customer list
5. You see that Its em

[2020-08-25 14:47] munkhorgil opened #2249 "Sortable checklist items"
**Is your enhancement request related to a problem? Please describe.**
Users frustrated in the checklist items order

**Describe the solution you'd like**
For better user experience make checklist items sortable

[2020-08-27 12:32] munkhorgil opened #2253 "Add time tracking for a task"
**Is your enhancement request related to a problem? Please describe.**
Users want to track how much time spent on each task.

**Describe the solution you'd like**
Add time tracking toggler in Task

**Additional context**
<img width="794" alt="Screen Shot 2020-08-27 at 8 31 40 pm" src="https://user-images.githubusercontent.com/978987/91442380-56659580-e8a4-11ea-87f8-9b1c71c896f7.png">

[2020-08-27 14:35] onkar-shaligram opened #2255 "Typo error in README.md"
**Description of the bug**
Typo errors in README.md... All the spellings with 'Erxes' should be changed to 'erxes' as it is not matching the organization's name.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'README.md'
2. Click on 'readme.md'
3. Scroll down to 'find the typo'
4. Do the required changes

[2020-08-27 17:37] davidkartuzinski commented on #2255
This issue can now be closed.

[2020-08-27 17:37] #2255 closed

[2020-08-28 00:53] #2215 closed

[2020-08-28 01:40] munkhorgil opened #2258 "Change Textarea to Editor"
**Is your enhancement request related to a problem? Please describe.**
For a better and readable description of the task

**Describe the solution you'd like**
Change textarea to Editor

**Additional context**
<img width="798" alt="Screen Shot 2020-08-28 at 9 36 26 am" src="https://user-images.githubusercontent.com/978987/91511373-1937ec80-e912-11ea-9b72-4c635a773641.png">

[2020-08-29 13:49] kevinteh opened #2260 "Bottom left guided box prompt"
The guided box prompt wouldn't go away. This is showing up after the "Do not show this again" button was triggered.

![Screenshot 2020-08-29 at 9 48 39 PM](https://user-images.githubusercontent.com/26074141/91638335-6797d900-ea41-11ea-8b7a-db70e191dc9d.png)

[2020-08-29 13:55] kevinteh opened #2261 "Bottom left guided box prompt"
**Describe the bug**
The guided box prompt wouldn't go away. This is showing up after the "Do not show this again" button was triggered.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the bottom left corner
2. At the guided prompt select "Do not show this again"
3. The blank prompt window will appear after some time or on page refresh.

**Expected behavior**
The guided box blank promp

[2020-08-29 13:56] #2260 closed

[2020-09-01 06:49] uhlhosting commented on #2234
This is a website without integration: https://gtmetrix.com/reports/uhl.site/eREAkpmF ![Clipboard - September 1, 2020 8_45 AM](https://user-images.githubusercontent.com/6324047/91811562-fbc79300-ec2f-11ea-8e73-193c8d5bad0b.png)

Here is after: https://gtmetrix.com/reports/uhl.site/BZJQsfQ9 ![Clipboard - September 1, 2020 8_46 AM](https://user-images.githubusercontent.com/6324047/91811554-f9653900-

[2020-09-01 08:08] Enkhtuvshin0513 opened #2269 "Can’t recognize mentions on Facebook when replied from erxes"

[2020-09-01 20:05] davidkartuzinski commented on #2234
@uhlhosting - I know we're looking into this.

[2020-09-02 08:06] Enkhtuvshin0513 opened #2271 "Facebook edited comments are not updated"

[2020-09-03 04:37] soyombo-baterdene opened #2272 "Some texts are not translated"
**Is your enhancement request related to a problem? Please describe.**
When I changed the language in the settings menu, it doesn't change some of the texts.

**Describe the solution you'd like**
Add missing translations.

**Additional context**
![Screen Shot 2020-09-03 at 12 36 10 PM](https://user-images.githubusercontent.com/40427263/92071737-1d687c00-ede2-11ea-8e0c-5c1e1b67d9ab.png)

[2020-09-03 08:12] #2248 closed

[2020-09-03 19:17] piyush9311 commented on #2165
I wanna work on this issue

[2020-09-03 19:19] piyush9311 commented on #1921
I wanna work on this

[2020-09-04 11:47] #2269 closed

[2020-09-10 03:39] munkhorgil opened #2287 "Add Email template in Email Inbox"
**Is your enhancement request related to a problem? Please describe.**
Not able to use existing email templates in Inbox

**Describe the solution you'd like**
Add email templates selector

**Additional context**
<img width="854" alt="Screen Shot 2020-09-10 at 11 39 27 am" src="https://user-images.githubusercontent.com/978987/92679179-4ea0f900-f35a-11ea-839d-0e86e025a9db.png">

[2020-09-11 00:26] Enkhtuvshin0513 opened #2290 "Merged contact shows up as Visitor"

[2020-09-11 02:18] munkhorgil opened #2291 "Gmail setup script and refactoring"
**Is your enhancement request related to a problem? Please describe.**
Setting up Gmail integration has so many steps and complex

**Describe the solution you'd like**
Add new Gmail setup script and refactor

[2020-09-11 02:32] Enkhtuvshin0513 opened #2292 "Locations & tracked data not exporting"

[2020-09-14 08:08] ganzorig opened #2295 "Overlapping description text"
![description](https://lh3.googleusercontent.com/aN3kk2MtpF9O_-ovelp9d6B30yvcLvRvMQabwuXFEy9F7qgqwMk-TAuwtTHx4Q8LEkuCmXt_w-vwQmY9AdaldW9d8f0Wey83s7xeBtsLTAyMRwgjBo1sGv1fOJeRq4LBpw07aY8v)

[2020-09-15 16:10] CodesbyUnnati commented on #1917
Can the look of social media handle icons enhanced by using CSS? If yes, then, please reply to this comment.

[2020-09-17 05:28] ganzorig opened #2302 "convert typed or pasted url text to clickable link"

[2020-09-17 06:25] mendorshikh opened #2303 "Improve Popups feature: v2"
- Fix the success emails (transactional) after a submission. Because the success email is not sending to the users properly.

- Add and preserve the formatting of the for success email content. At the moment, it is just basic text.

- Add the "Submit Once" option. Once a submission is received, the popup will now show. We don't want to display the same popup over and over again if the customer has

[2020-09-17 06:25] mendorshikh commented on #2303
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5260111

[2020-09-22 08:16] ganzorig opened #2311 "created channel and brand does not show up in inbox filter"

[2020-09-23 06:35] mendorshikh opened #2312 "Realtime changes when adding and deleting Board/New Pipeline"
Context: At the moment, users need to refresh the page to see the modified board/pipeline information when you're at Settings page
Expected result: the changes made should be visible realtime

[2020-09-23 06:35] mendorshikh commented on #2312
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5675286

[2020-09-23 09:28] mendorshikh opened #2313 "Add "Resolve All" button in the Team Inbox"
Once a user integrates an email, the system could potentially sync thousands of emails at once, all with an "Unresolved" state. So, it creates the never disappearing Unread notification next to the Team Inbox. Currently, there is no way to resolve all and get rid of the notifications.

- If no filters are applied, the *Resolve All* button applies to ALL the conversation, not just the first 20 conv

[2020-09-23 09:28] mendorshikh commented on #2313
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5664897

[2020-09-23 09:42] mendorshikh opened #2314 "Add "Awaiting Response" Status in the Conversations Add "Awaiting Response" Status in the Conversations"
**The problem**
It's hard to filter conversations by the last responder. Users need to easily find the pending conversations where the last responder is the customer. When you start receiving a significant amount of messages in one channel, it would be hard to quickly find the ones that need a response.

**The solution**

- Add "Awaiting Response" filter which filters conversations by the last res

[2020-09-23 09:42] mendorshikh commented on #2314
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5579127

[2020-09-23 09:49] mendorshikh opened #2315 "When Conversation Tag is applied, it is not displaying all conversations with that tag"
When a user filters all conversations through a conversation tag, it is displaying only a few conversations from a single channel.

[2020-09-23 09:49] mendorshikh commented on #2315
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5676753

[2020-09-24 06:38] mendorshikh opened #2318 "Can't write in the Team Inbox editor"
Sometimes the text editor in the Conversations changes and the user can no longer type. Then the user needs to refresh the page to remove the error. This issue happens irregularly.

Example:
![image (1)](https://user-images.githubusercontent.com/53030705/94109534-b20b4a80-fe73-11ea-8c89-f4eb9e468d4f.png)

[2020-09-24 06:38] mendorshikh commented on #2318
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5674887

[2020-09-24 08:11] ganzorig commented on #1985
it's not understandable. If appearing in deal/task/ticket, it's fixed

[2020-09-24 08:11] #1985 closed

[2020-09-25 05:19] saikhangombo opened #2319 "Update files on Transifex"
**Is your enhancement request related to a problem? Please describe.**
Some of the new improvements are not available as strings on Transifex.

[2020-09-28 20:34] aadeshkulkarni commented on #1878
I'm able to reproduce this issue as well.

lrcs.herokuapp.com

On Chrome:
Nothing happens, no errors in the console the page just reloads with a querystring -->  LoggedIn=true

On Microsoft Edge & Firefox
Everything works properly

[2020-09-29 11:29] premkiran7 commented on #1035
Hey @ganzorig, I would like to work on this issue

[2020-10-01 05:21] munkhorgil opened #2337 "Add BotPress integration"
**Is your feature request related to a problem? Please describe.**
Help customers when team members are offline.

**Describe the solution you'd like**
Add BotPress integration in the widget messenger

[2020-10-01 11:05] schmelto commented on #1226
what is to do at this issue?

[2020-10-01 13:39] Aditya231 opened #2346 "Can't write in the Team Inbox editor"
Sometimes the ### text editor in the Conversations changes and the user can no longer type. Then the user needs to refresh the page to remove the error. This issue happens irregularly.

[2020-10-01 21:26] daniloff200 opened #2352 "Broken links in README.md (Documentation section)"
**Describe the bug**
Looks like, some links in README.md, related to Documentation section are outdated.
**Install erxes** points to https://docs.erxes.io/installation/docker
**erxes documentation** points to https://docs.erxes.io/
**Contributing to erxes** points to https://docs.erxes.io/developer/contributing

But, all of them just redirect me to https://www.erxes.org/, because, looks like,  htt

[2020-10-01 21:27] daniloff200 commented on #2352
I would like to work on that, as soon, as proper links will be described / discussed :)

[2020-10-01 21:28] daniloff200 commented on #2346
looks like duplicate of #2318

[2020-10-02 05:06] indraganzorig commented on #2346
Hi @Aditya231 this issue has been resolved, as @daniloff200 mentioned above.

[2020-10-02 05:06] #2346 closed

[2020-10-02 09:13] davidkartuzinski commented on #2352
This is a good issue.  Some of these links have been fixed.  Let's review this after the next merge from Develop to Master next week. Thank you @daniloff200.

[2020-10-02 10:09] simarpreetsingh-019 commented on #2352
I would like to work on this issue.

[2020-10-02 14:57] daniloff200 commented on #2352
@simarpreetsingh-019  I don't think, that's possible, this one was already assigned to me

[2020-10-02 18:16] chrysillala commented on #2295
Hi, I would love to work on this issue. Could you please assign this and guide me? Thank you.

[2020-10-03 05:25] SwarnadeepGhosh opened #2360 "Broken Links in Contributors Graph link in Readme file"
**Describe the bug**
The image link for the contributors graph is showing the 404 Error page. It must be resolved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/erxes/erxes'
2. Scroll down to **'Contributors'**
3. Click on 'Image of contributors graph'
4. It will redirect to GitHub 404 Error Page about **Page not found**

**Expected behavior**
It should be redirec

[2020-10-03 20:17] Malvika18 commented on #1780
hello can i contribute to this

[2020-10-04 14:14] CoderSaty commented on #2360
Will you please tell me that what do you mean by 'Image of contributors graph' because I am unable to see any bug

[2020-10-04 14:19] CoderSaty commented on #2352
@daniloff200 please assign this task to me as I am very new to open source and it will be a great acheivement for me to make my pull request merged in such a repository. Please sir, it's a kind request. Thanks

[2020-10-04 14:39] sparkingdark commented on #1545
Is this still open?
If then I want to work.

[2020-10-04 14:41] sparkingdark commented on #1040
Can you give more information @munkhorgil @batamar @batorshih

[2020-10-04 14:42] sparkingdark commented on #2319
Is this still open want to work.
Please give me some more information.

[2020-10-04 17:11] Gourav22859 commented on #2360
Could you please assign this to me? I am very new to open source.

[2020-10-04 19:47] shinebayar-g commented on #1545
Still open I guess.

[2020-10-05 03:56] #2261 closed

[2020-10-05 03:56] #2287 closed

[2020-10-05 03:56] #2291 closed

[2020-10-05 03:56] #2292 closed

[2020-10-05 03:56] #2295 closed

[2020-10-05 03:56] #2302 closed

[2020-10-05 03:56] #2303 closed

[2020-10-05 03:56] #2311 closed

[2020-10-05 03:56] #2312 closed

[2020-10-05 03:56] #2318 closed

[2020-10-05 08:28] saikhangombo opened #2367 "Email attribute is not working."
Email attribute is not working. Customer name missing.
![bug  report](https://user-images.githubusercontent.com/71864142/95056779-c975ed80-0727-11eb-9b77-7e12c9ce819e.jpg)

[2020-10-05 15:22] BhuwanChandra commented on #2367
can I work on this issue?

[2020-10-05 15:45] code-of-kira opened #2369 "Link of contribute broken in Readme.md"
The link of open collective for contribution which is readme docs is broken and lead to not found of github which need to be corrected.It lead to this link "https://github.com/erxes/erxes/blob/master/graphs/contributors". when clicked.
![Capture](https://user-images.githubusercontent.com/61110783/95101527-de667700-074f-11eb-9057-44c82eb254fa.PNG)

[2020-10-05 18:57] rocketsquash opened #2370 "Custom mail service and IMAP by Nylas not working with cPanel email"
When creating a mail account in cPanel and adding the credentials to the custom mail service, mails do not get sent out. The specific mail which doesn't get sent out is the invite email when inviting team members. The nylas imap integration also does not work and returns the following error when adding a cPanel email address: "Error: Error when connecting to the server. Please check your settings"

[2020-10-06 03:37] batamar commented on #2367
HI @BhuwanChandra. Sure

[2020-10-06 03:54] indraganzorig commented on #2319
Please do @sparkingdark!
Context: We use [Transifex](https://www.transifex.com/erxes-inc/public/) to crowdsource our translations. Once a new feature is rolled out those texts are not added to it.

So this task is to update the available strings of the resource file on Transifex.

@batamar can provide more technical info, if necessary.

[2020-10-06 04:14] indraganzorig commented on #2314
Hi @mungunshagai,
The filter doesn't seem to work if the last interaction was this:
![Screen Shot 2020-10-06 at 12 13 11 PM](https://user-images.githubusercontent.com/53030705/95158123-69398700-07cd-11eb-8aef-902e9346c1b2.png)

[2020-10-06 04:28] mendorshikh opened #2371 "Card Close Date Notifications are not coming"
When you set a close date (due date) on a card and choose to receive the notification for it, it is not showing up:
![Screen Shot 2020-10-06 at 12 30 00 PM](https://user-images.githubusercontent.com/53030705/95159184-fd0c5280-07cf-11eb-8a2e-3bcdfe90b74a.png)

[2020-10-06 04:28] mendorshikh commented on #2371
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5753415

[2020-10-06 06:36] Munkhkhishig opened #2372 "Response template editor is not working"
**Describe the bug**
I wanted to edit the response template. But it's not working.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Click on Response template
3. Open a response template
4. Try to edit the text and see error

**Expected behavior**

**Screenshots**
![error](https://user-images.githubusercontent.com/72432835/95166869-36998980-07e1-11eb-8c0f-929e64879b43.png)

[2020-10-06 06:40] rocketsquash commented on #2370
Nevermind, all is working as expected. There was a firewall issue.

[2020-10-06 09:05] BhuwanChandra commented on #2367
@batamar @saikhangombo can you please tell me how to reproduce the bug?

[2020-10-07 03:49] munkhorgil opened #2374 "Add send an email button"
**Is your enhancement request related to a problem? Please describe.**
Users can only send an email to customers.

**Describe the solution you'd like**
Add send email button in settings

**Additional context**
<img width="1440" alt="Screen Shot 2020-10-07 at 11 48 32 am" src="https://user-images.githubusercontent.com/978987/95285317-15917100-0893-11eb-9219-c03e35261f75.png">

[2020-10-07 04:03] mendorshikh opened #2375 "Ability to manually update email/phone validation status"
1) Add a section in the Contact Profile, where you can manually update the Email Validation status to valid for individual contacts.

2) Add a checkbox "Email Validation Status" in the Importing Template, so that you can bulk update any previous contacts you know that is valid. This goes both for emails and phone numbers.

[2020-10-07 04:03] mendorshikh commented on #2375
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5656835

[2020-10-07 04:29] #2372 closed

[2020-10-07 04:30] munkhorgil opened #2376 "Update user id in integration middleware"
**Describe the bug**
Getting user not authorized error when login with new user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Click on Team member
3. Add invite team member
4. Perform any action related to integrations
5. Getting user not authorized error

**Expected behavior**
No error when team member make any request for integration service

**Context (please include

[2020-10-07 04:44] indraganzorig commented on #2367
Hi @BhuwanChandra, to reproduce:

- Create a test contact with your email address by going to Contact and click "Add customer"
![Screen Shot 2020-10-07 at 12 41 35 PM](https://user-images.githubusercontent.com/53030705/95288348-a61f7f80-089a-11eb-8632-9fa82e2efdf0.png)
- Go to Settings / Email Template
- Click on "New Template"
- Click on "Attributes" to use it in the text editor
![Screen Shot 202

[2020-10-07 05:54] munkhsaikhan opened #2378 "The Product and service will be image"
**Is your enhancement request related to a problem? Please describe.**
The Product and service will be image

**Describe the solution you'd like**
product and service edit form has image uploader

[2020-10-07 07:12] munkhorgil opened #2380 "Fix bug in gmail config"
**Describe the bug**
Could not get gmail_topic config

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the App store
2. Create Gmail integration
3. Error shows

**Expected behavior**
Successfully create Gmail integration and subscribe selected email

**Context (please include the related information if applicable):**
 - OS: [e.g. Ubuntu 16.04]
 - Browser version [e.g. chrome 75.0.3770.1

[2020-10-07 12:39] Ameenrehman commented on #2369
Hello  @code-of-kira  what link you want inplace of that mislead link.
can you please tell me more on this,I want to work on this issue.
thanks

[2020-10-08 06:30] rocketsquash commented on #2370
Is there any update on this?

[2020-10-09 09:29] ganzorig opened #2383 "Add AddOn step when creating or editing Messenger"

[2020-10-11 17:05] sparkingdark commented on #2319
Thank you I will start the task within few days as already have some other issues to fix

[2020-10-11 17:07] sparkingdark commented on #2319
@batamar can you give some more context about it like from which part of the project I can start and any specific instructions to do this.

[2020-10-12 12:09] davidkartuzinski commented on #2370
@munkhorgil - Have we tested regular cPanel emails with Nylas or the native plugin?

[2020-10-12 12:22] rocketsquash commented on #2370
Hi there, I try and add an IMAP account by going to settings -> App store -> Imap by Nylas, and when I input the mail details of the email address I add in cPanel, it fails to be added.
![Uploading Screenshot from 2020-10-12 14-20-40.png…]()

[2020-10-12 12:38] #2369 closed

[2020-10-12 14:51] davidkartuzinski commented on #1545
@sparkingdark - Did you take a look at this?

[2020-10-12 14:53] davidkartuzinski commented on #1780
@ganzorig - Have we already fixed this issue?

[2020-10-13 08:38] mendorshikh opened #2390 "In-app Messenger conversation details do not show up when sent from Engage"
When a customer sends bulk messages from the Engage feature, the message is sent. But when you wish to open the conversation on the end user's dashboard, the details are not shown.

[2020-10-13 08:38] mendorshikh commented on #2390
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5721670

[2020-10-13 08:38] mendorshikh opened #2391 "Update "Convert to Task/Deal/Ticket" action"
At the moment, there is no way to centralize conversations related to a single Deal/Task. Instead of converting a new card each time, it would be better to have the option to attach a conversation to an existing card. See the attachment below:
![Attach_a_conversation_to_an_existing_card (2)](https://user-images.githubusercontent.com/53030705/95837429-31a18080-0d73-11eb-9cfe-0b236e334b9b.png)

[2020-10-13 08:38] mendorshikh commented on #2391
Link to feature: https://erxes.productboard.com/feature-board/planning/features/5633672

[2020-10-14 10:00] rocketsquash commented on #2370
Hi there, just checking that you got my response?

[2020-10-14 10:06] ShyamPraveenSingh commented on #1837
Hi, I would like to work on this issue.

[2020-10-14 11:58] batamar commented on #1837
Hi @ShyamPraveenSingh. Please

[2020-10-14 13:08] ShyamPraveenSingh commented on #1837
Can you please tell me in detail of which file I have to fonts?

[2020-10-15 07:54] daniloff200 commented on #2352
I saw that merge to master was 2 days ago
Is this task ready for check right now @davidkartuzinski  ?

[2020-10-16 10:39] davidkartuzinski commented on #2352
@daniloff200 @CoderSaty - The broken links seem to have been fixed by another Pull Request.  @CoderSaty - I am afraid I didn't fully understand your request. I expect you will have many more opportunities to contribute in a meaningful way to open source projects.  Good luck.

[2020-10-16 10:39] #2352 closed

[2020-10-16 10:52] daniloff200 commented on #2352
Which was made day after I opened this issue
https://github.com/erxes/erxes/pull/2354

Haha
As usual, it's better to run and create a PR, as fast, as you can, then ask, is it really a necessary change, or not?
Not surprised

[2020-10-16 11:32] davidkartuzinski commented on #1837
@lakshyatyagi24 - Could you please describe which fonts need to be changed and include screenshots?

[2020-10-16 11:34] davidkartuzinski commented on #2370
@rocketsquash - Could you please update your installation and try again? We did do some additional bug fixes on this feature.

[2020-10-16 14:19] rocketsquash commented on #2370
Thanks David, much appreciated. Sorry for the noob question but I can't find any guide or obvious place to update the software? I installed it on Ubuntu directly with this guide: https://www.erxes.org/installation/ubuntu-quickstart could you kindly advise how I update?

[2020-10-16 22:04] davidkartuzinski commented on #2370
@rocketsquash - https://www.erxes.org/installation/upgrade - which version? The docs are being updated but if you have a version 17, you can change  everywehere it says 18.2 to 19.3 for the latest version in these steps: https://www.erxes.org/installation/upgrade#upgrade-erxes-017x-to-0182.

[2020-10-17 05:45] rutujak24 opened #2399 "Grammar Errors in Docs"
**Is your enhancement request related to a problem? Please describe.**
There are grammatical errors in the document, which may make a wrong impression on the readers.

**Describe the solution you'd like**
I would like to correct them

[2020-10-17 05:57] CoderSaty commented on #2399
Will you please describe it? I would like to correct them.

[2020-10-17 07:48] rocketsquash commented on #2370
Thanks David. I followed the steps in the link provided but then got stuck at step 7: mv env.js.back erxes/build/js/env.js there was no build directory present, and I cannot update ecosystem.json since it is no longer in the erxes.io folder. Could you advise?

[2020-10-17 19:31] davidkartuzinski commented on #2370
@rocketsquash thank you. @munkhorgil - Could you please see what is happening with this?  @batamar

[2020-10-17 19:35] davidkartuzinski commented on #2399
@rutujak24 - Please be specific. If you are going to correct one letter or add a capital letter (erxes, for example, has no capital letter), then don't bother. We can reopen this issue with more specific information.

[2020-10-17 19:35] #2399 closed

[2020-10-19 03:42] munkhorgil commented on #2370
Hello @rocketsquash, We haven't tested cPanel with Nylas IMAP, Could you share your settings such as imap host, imap port, smtp host, smtp port etc

[2020-10-19 10:04] davidkartuzinski commented on #1921
This is not actually an issue.

[2020-10-19 10:04] #1921 closed

[2020-10-19 11:34] ng29 opened #2401 "Adding Table of Content to Readme.md"
Hey @batamar /  @ganzorig /   @Anu-Ujin

Description
Missing table of contents in readme.

Possible Solution
The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.
A clear and concise description of the improvement.

[2020-10-19 15:54] shinebayar-g opened #2402 "Update & Automate docker installation process"

[2020-10-19 16:40] rocketsquash commented on #2370
Hi @munkhorgil, no problem. Can I somehow send the username and password to you privately? The other details are as follows:

- Imap host: mail.base64.co.za
- Imap port: 993
- Smtp host: mail.base64.co.za
- Smtp port: 465

Non-secure ports were also tried and the result was the same.

[2020-10-20 23:09] AarushiKapoor opened #2406 "Updating Readme.md"
**Is your enhancement request related to a problem? Please describe.**
The content under deployment is repetitive in Readme.md file

**Describe the solution you'd like**
Deleting repetitive content in deployment part and making it more easily comprehendable

**Additional context**
Add any other context or screenshots about the enhancement request here.

[2020-10-20 23:26] AarushiKapoor opened #2408 "Updating Readme.md"
**Is your enhancement request related to a problem? Please describe.**
There is no pictures after the sponsors logos

**Describe the solution you'd like**
Adding a picture of open source under open source part.

**Additional context**
Add any other context or screenshots about the enhancement request here.

[2020-10-20 23:48] AarushiKapoor opened #2410 "Physical appearance"
**Is your feature request related to a problem? Please describe.**
Change the look of the css

**Describe the solution you'd like**
Adding some colours and textures to the css.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-10-21 10:18] munkhorgil opened #2413 "Add auto-completion in form"
**Is your enhancement request related to a problem? Please describe.**
Prevent to create duplicated customer/company

**Describe the solution you'd like**
Add auto-completion options

<img width="1438" alt="Screen Shot 2020-10-21 at 2 00 27 pm" src="https://user-images.githubusercontent.com/978987/96706886-bcb0f500-13c9-11eb-95e6-351984c7d0e9.png">

[2020-10-21 17:06] daniloff200 opened #2414 "Link to docs in README.md is broken"
**Describe the bug**
The link which should point to docs start page points to not existed page

Kind a related to https://github.com/erxes/erxes/issues/2352 update, which was made before

**To Reproduce**
Steps to reproduce the behavior:
1. Go to readme section
2. Click on erxes documentation link
3. You will be redirected to https://www.erxes.org/overview/getting-started/ and see this
![Selection

[2020-10-21 17:15] daniloff200 opened #2415 "Link to installation guides in readme are broken"
**Describe the bug**
Links to installation guides point to old urls, and now, doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Readme
2. Click on, for example, Ubuntu guide
3. You will be redirected to https://www.erxes.org/

**Expected behavior**
You should see a relevant docs page

[2020-10-22 05:38] munkhsaikhan opened #2417 "to merge repositories"
**Is your enhancement request related to a problem? Please describe.**
erxes-api repo move to folder with api, but erxes-api's sub services move to erxes's sub folder and erxes-integration repo move to folder with integration

[2020-10-22 10:01] #2417 closed

[2020-10-22 11:11] Vinamra2009 commented on #2414
I can fix this

[2020-10-23 16:52] shinebayar-g opened #2421 "Migrate docker images to Alpine linux"
At the moment our docker images use debian based node:-slim image. Even though these images are quite minimal, our produced images are quite big like 400MB! I'll be migrating our base images to alpine linux which is best minimal production ready image to use.

[2020-10-23 20:24] im-adithya commented on #1035
@mendorshikh @indraganzorig Can anyone help me with this? I'm interested in contributing

[2020-10-25 04:22] rexdivakar commented on #1836
Are u planning to use a twillo ?

[2020-10-25 10:18] lakshyatyagi24 commented on #1836
no

[2020-10-25 15:46] rexdivakar commented on #1836
Then may I know how do u propose to send message over phone ??

[2020-10-28 22:36] #2367 closed

[2020-10-29 02:47] ganzorig opened #2424 "The confirmation message is incorrect"
The confirmation message is incorrect when archive lists inside stage

**Additional context**
![Screen Shot 2020-08-31 at 12 57 37](https://user-images.githubusercontent.com/2535113/97519358-1d48bf00-19d4-11eb-8f7f-cdcb72080b8e.png)

[2020-10-29 07:46] soyombo-baterdene opened #2432 "Conversation Message and conversations did not delete when engage message has deleted."
**Is your enhancement request related to a problem? Please describe.**
Conversation Message and conversations did not delete when the engage message has deleted.

[2020-10-29 11:59] azharumar opened #2434 "Unable to Integrate"
First I would like to appreciate the efforts in putting together a great tool like erxis.

I am trying to install erxis on AWS EC2. I ran all the steps as mentioned and went successful. When I click on Office365 by Nyla integration, it takes me to a different page that cannot be reached.

![image](https://user-images.githubusercontent.com/19702561/97565838-3f5e3380-1a0c-11eb-8792-31474bbcc1ae.png)

[2020-10-29 12:22] #2415 closed

[2020-10-29 12:22] #2414 closed

[2020-10-29 13:34] ViabGit opened #2435 "background-size icon messenger is very small"
background-size icon messenger is very small

change background-size 20px to 40px

![image](https://user-images.githubusercontent.com/26825353/97580579-41a39c00-19d2-11eb-88d8-0b7e9e627ab8.png)

![image](https://user-images.githubusercontent.com/26825353/97580623-4cf6c780-19d2-11eb-8245-e439920adb49.png)

tranks

[2020-10-29 20:24] ronaldohoch opened #2436 "Error using installation guide with docker"
Hello!
Thank you for this awesome project!

I'm following this installation guide: https://www.erxes.org/installation/docker/#install-erxes
And, after run
[code]

Got this message:

![image](https://user-images.githubusercontent.com/2287371/97627990-e772fd00-1a0a-11eb-8128-a2180a7d9ea9.png)

Can you help me?

**Context**
 - OS: Windows 10 using WSL2 with Ubuntu 20
 - erxes last version
 - installa

[2020-10-29 20:27] shinebayar-g commented on #2436
Hi as it's said on the error message, it looks like your mongodb's replica set isn't initialized. I believe it's documented somewhere around docs.

[2020-10-29 22:24] ronaldohoch commented on #2436
Mongo is running :/
![image](https://user-images.githubusercontent.com/2287371/97629162-75031c80-1a0c-11eb-8c75-120d1de7e6aa.png)

[2020-10-29 22:25] shinebayar-g commented on #2436
Replicaset is not running.

[2020-10-29 23:20] ronaldohoch commented on #2436
How did you see it and how active?
I didn't find it in the documentation.

![image](https://user-images.githubusercontent.com/2287371/97642528-2e212100-1a24-11eb-977a-c016b427d5ec.png)

[2020-10-30 03:31] indraganzorig commented on #2435
Hi @ViabGit , please refer to [this guide](https://erxes.io/help/knowledge-base/article/detail?_id=Kob3mLam6Dsup35gz) on how to increase the size.

[2020-10-30 18:42] davidkartuzinski commented on #2436
@ronaldohoch - This part of the docs https://www.erxes.org/installation/ubuntu-step-by-step#deploy-a-mongodb-replica-set. These step by step are as of today out of date, but not this section. These and better Docker docs will be released next week. But what I linked explains the ReplicaSet configuration.

[2020-10-30 19:14] #2406 closed

[2020-10-30 19:14] #2408 closed

[2020-10-30 19:15] #2410 closed

[2020-11-01 09:28] Enkhtuvshin0513 opened #2439 "When select lead on import & export sidebar, lead is not active"
![Capture](https://user-images.githubusercontent.com/37796969/97798254-5183e000-1c5f-11eb-8ac9-15b15738c0a7.PNG)

[2020-11-02 16:42] davidkartuzinski commented on #2434
@azharumar I have asked for back-up on this from @munkhorgil.

[2020-11-02 20:52] ronaldohoch commented on #2436
@davidkartuzinski
I've pruned all my docker images and make it again and i can login now.
Now, it's time to see the tutorials to teach my team!

Thank you!

[2020-11-03 04:00] munkhorgil commented on #2434
Hey @azharumar, What is your domain? it looks like your erxes url is your_domain_com

[2020-11-03 12:20] ryankarl65 commented on #2055
Hello, it don't work

[2020-11-04 08:45] saintmalik opened #2445 "Script files for installation are missing"
Reading the installation guide for Debian, the following command was giving (bash -c "$(wget -O - https://raw.githubusercontent.com/erxes/erxes/develop/scripts/install/debian10.sh)")

but the file "https://github.com/erxes/erxes/blob/develop/scripts/install/debian10.sh" no longer exists, but exit in another branch "https://github.com/erxes/erxes/blob/doc-import/scripts/install/debian10.sh"

 is th

[2020-11-05 07:45] munkhorgil opened #2447 "Show greeting message in bot"
**Is your enhancement request related to a problem? Please describe.**
Lack of guidance in bot messenger

**Describe the solution you'd like**
Show greeting message guide

[2020-11-05 08:09] ned-kelly opened #2449 "Upgrade from 0.10 to latest and no path for Elasticsearch"
Hi,

I've upgraded from 0.10.x to the latest version and there was previously no elastic search integration.

After properly setting up elastic search, i'm seeing the following query when searching through my contacts:

[code]

Is there any way I can force elastic search to re-index the data? - Even some sort of API I hit is fine, don't need a pretty button in the UI to do it.

Would also worth ad

[2020-11-05 10:49] soyombo-baterdene opened #2450 "Email & phone validation not working properly"
**Describe the bug**
When new contact adds with valid email or phone number erxes does not verify email or phone number.

[2020-11-06 02:19] ned-kelly commented on #2449
Ok, so for anyone else with this issue it seems the docs for running Erxes on docker are a bit out of date...

Basically you need to perform the following steps:

- Run your mongodb cluster with a replicaset (even if there's just one node in the cluster)
- Create a new container running the `elkSyncer` as part of your cluster (https://github.com/erxes/erxes-api/tree/master/elkSyncer)

Until the do

[2020-11-06 02:19] #2449 closed

[2020-11-06 03:26] ned-kelly opened #2453 "Add search for team inbox + whole platform as future stretch"
NB: This issue is similar to: https://github.com/erxes/erxes/issues/2194 - However a more detailed explanation as there is both a short term and long term approach at play here.

**Is your feature request related to a problem? Please describe.**

Need a clear way to search the team inbox.

**Describe the solution you'd like**

As elastic search is now in the mix, it would be wonderful if we could

[2020-11-06 18:58] grupale opened #2455 "Spanish Language doesn't applies in Settings"
**Describe the bug**
As it is mencioned in this article https://erxes.io/help/knowledge-base/article/detail?_id=8sQP5RQpHAB66nG6G I changed the language to Spanish and after saving nothing changes.

I took a look at the es.json file located in /home/erxes/erxes.io/erxes-widgets/locales and it had 37 lines of translation like in https://github.com/erxes/erxes/blob/master/widgets/locales/es.json . A

[2020-11-06 20:09] Maskgirl opened #2456 "Adding Bengali Language on this project's UI"
**Is your enhancement request related to a problem? Please describe.**
I think you people should add the Bengali language to your UI.
As that will attract a lot of Bengali users.
Bangladesh is full of Bengali people and also west Bengal in India is also reside by Bengalis.
And I was a Bengali will love to see my language in your UI.
And so as other people too, as we always have the tendency to sea

[2020-11-08 12:05] lokeshrajgadkar opened #2461 "Improved Hindi language translation"
**Is your enhancement request related to a problem? Please describe.**
I saw your project supports different languages & one of the language is Hindi which is mostly spoken in India. But when I checked the Translation of Hindi language I found many issues. The translation was not done in Hindi but it was done in Nepali Language which is used in Nepal. Hence this may cause confution to the people w

[2020-11-09 02:50] #2383 closed

[2020-11-09 02:50] #2413 closed

[2020-11-09 02:50] #2424 closed

[2020-11-09 08:38] GYes007 opened #2469 "Choose Payment Option is not working"
At Checkout Page

[2020-11-09 11:47] daniel-shuy commented on #2319
This task is too broad and vague. It would be great if someone could list down the features/improvements that are untranslated.

[2020-11-10 05:00] uhlhosting commented on #2370
I got the same issue, my main concern here its, why isnt the IMAP and POP3 naturally supported by erxes, and thus leave Nylas to those who want to use it.

Most private or free mail providers have these protocols available, they differ from ports may range, and technology, yet still the major ones excluding corporate Exchange are not having much changed the way IMAP or POP3 works.

So my question

[2020-11-10 07:57] soyombo-baterdene opened #2472 "There is no way to send auto message to customers with a rule"
**Is your enhancement request related to a problem? Please describe.**
I can't send engage message to the customers using any rules.

**Describe the solution you'd like**
I would like to send engage messages to the customers using rules just same as visitor auto message.

[2020-11-10 11:30] mchwalfajar commented on #2436
please update docker-compose.yml script to the erxes latest version

[2020-11-12 13:12] #2455 closed

[2020-11-17 06:47] rocketsquash commented on #2370
Hi there, is there any update on this?

[2020-11-17 09:23] uhlhosting commented on #2370
@rocketsquash hang on there, I am positive we will get better mail support. In fact the Nylas inntegration is ot safe, is not GDPR compliant for me, and this is just a small point to start with. Emails are and contain sensitive information, why on earth i would allow an enclosed company to filter / store and or manipulate my mails.

I am positive @munkhorgil and his team will find a solution, alre

[2020-11-17 10:30] rocketsquash commented on #2370
@uhlhosting Thank you so much. I agree with you, and I will wait patiently.

[2020-11-20 18:17] lakshayb121 commented on #2374
Hey i would love to work on this. Please assign me this.

[2020-11-21 14:23] inazkue opened #2489 "Error installing erxes with docker-compose"
Deploying the application as described in https://www.erxes.org/installation/docker/#install-erxes an error occurs in point 6:
(Up to that point everything is fine with the docker-compose.yml)

root@docker2:~/erxes# docker exec -it erxes-api yarn loadPermissionData
yarn run v1.22.4
error Command "loadPermissionData" not found.

**Context (please include the related information if applicable):**
 -

[2020-11-23 17:48] munkhorgil opened #2492 "Unwanted conversations created"
**Describe the bug**
New conversations automatically created when the BotPress show greetings message enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the website
2. Click on start new conversation
3. Close conversations
4. Open messenger

**Expected behavior**
Create a conversation when only the customer clicks a button or text

**Context (please include the related informatio

[2020-11-24 06:54] munkhorgil opened #2494 "Revoke Nylas app in Google"
**Describe the bug**
Could not re-authenticate deleted google account due to existing google permission

**To Reproduce**
Steps to reproduce the behavior:
1. Create Calendar/Gmail Nylas integration
2. Remove integration
3. Re-authenticate and the error will appear

**Expected behavior**
Successfully re-authenticate and create integration

**Screenshots**
If applicable, add screenshots to help expl

[2020-11-24 18:31] Anshika66-Gupta opened #2498 "Adding Punjabi language with attractive UI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-11-24 18:34] davidkartuzinski commented on #2498
@Anshika66-Gupta - I understand adding Punjabi as a supported language. Maybe someone in the community can tackle this. Could you clarify what you mean with "with attractive UI"?

It would be helpful to complete the template for this issue if you want this treated as a priority.

[2020-11-24 18:44] Anshika66-Gupta commented on #2498
Interface Animation and several interactive layers that make scrolling experience and interactions actually looks original.

[2020-11-25 11:31] davidkartuzinski commented on #2498
@Anshika66-Gupta Thanks for answering but your answer doesn't provide any details as to your issue. Erxes is a huge piece of software.

[2020-11-25 11:32] #2498 closed

[2020-11-25 11:59] davidkartuzinski commented on #2370
@rocketsquash @uhlhosting - To be clear this native implementation of email is a big deal. And we know that this is wanted. @munkhorgil has already made many improvements with the gmail integration. We have been working on the new plugin architecture, @batamar himself has made this a priority. With this being completed shortly, issues like native email support become easier to accomplish and imple

[2020-11-26 07:03] #2492 closed

[2020-11-26 07:03] #2494 closed

[2020-11-26 11:24] Anu-Ujin opened #2501 "Messenger Social Links enhancement"
**Describe the bug**
When a user enters their URL without https the links do not work:
https://cln.sh/3cLAq2﻿

﻿https://cln.sh/HMchdb
Same goes to individual profile links: https://cln.sh/91Pc9R﻿

[2020-11-29 06:22] ahtrahdis7 commented on #2210
can I take this issue ?

[2020-11-30 04:44] KKVANONYMOUS opened #2504 "Fix alignment issue in integrations-overview.md"
The list items in `integrations-overview.md` are not aligned properly.

I am creating a PR to fix them.

[2020-12-03 07:11] soyombo-baterdene opened #2509 "engage email pre schedule"
**Is your enhancement request related to a problem? Please describe.**
Can't schedule a specific date-time for engage email.

**Describe the solution you'd like**
Add an option to engage email on a set date-time

[2020-12-03 08:54] codingclubcoet opened #2512 "Ability to download a signed DPA straight from Org Settings"
Ability to download a signed DPA straight from Org Settings

[2020-12-03 08:54] codingclubcoet opened #2513 "Group Chat Support"
It will be great if it have group chat support

[2020-12-03 08:55] codingclubcoet opened #2514 "Add preview url on engage visitor auto message"
Add preview url on engage visitor auto message

[2020-12-04 04:38] kavinda1995 commented on #2469
@GYes007 Can you elaborate more? I like to fix this issue

[2020-12-04 04:39] kavinda1995 commented on #2514
@codingclubcoet what you mean preview url? Can you describe it more?

[2020-12-06 13:16] soyombo-baterdene opened #2518 "Segment with customer/company tags"
**Is your enhancement request related to a problem? Please describe.**
I can't create segment with customer tags.

**Describe the solution you'd like**
Make it able to create segments with tags.

[2020-12-07 08:00] Aashrut opened #2521 "Add some missing properties and translation in hi.json"
**Is your enhancement request related to a problem? Please describe.**
In `hi.json`, most of the translation was wrong and was done in another language. Also, there were about half of the properties missing in the file.

**Describe the solution you'd like**
I have added those missing properties from the `en.json` file and added translation for those and also improved the old translation.

**Additi

[2020-12-07 12:50] #2501 closed

[2020-12-07 12:50] #2518 closed

[2020-12-09 02:47] amnindersingh12 opened #2525 "Adding Punjabi Language"
**Is your enhancement request related to a problem? Please describe.**
I saw your project supports different languages, But when I checked the Translations I haven't found Punjabi translation. And I am a Punjabi also, I will love to see my language in your UI. So as other people too, as we always have the tendency to search for our mother tongue no matter what. And when we find our mother tongue,

[2020-12-11 06:19] vyomkesh-182006 opened #2531 "language limitation"
this can only be seen in few and popular languages which doesnt enable to others to about this.

i want you to add the maximum possible languages you can so that everybody can access this.

[2020-12-11 06:21] #2531 closed

[2020-12-15 10:36] antrikshmisri opened #2536 "yarn initProject in erxes-api results in an unhandled error event"
**Describe the bug**
When trying to run the backend of erxes in development mode, the command yarn initProject errors out. The commands before this run just fine but once yarn initProject is run in erxes-api , the job freezes for 5-10 minutes , eventually throwing an unhandled error event. The whole error is :-
`Unhandled error event: Error: connect ECONNREFUSED 127.0.0.1:637   at TCPConnectWrap.a

[2020-12-15 10:57] Siddhant-K-code commented on #2447
I think, We Can Close This Issue Now!

[2020-12-16 04:24] martin-sweeny opened #2538 "Open graph image falsely describes erxes as open source"
**Describe the bug**
The repository links to https://repository-images.githubusercontent.com/73453488/16231700-9542-11ea-8046-7049eb655e4b as the opengraph image for the repo, which describes erxes as open source. [As per the documentation](https://github.com/erxes/erxes#is-erxes-open-source), erxes is not open source.

**To Reproduce**
Steps to reproduce the behavior:
1. Share https://github.com/

[2020-12-16 09:43] munkhorgil opened #2540 "Add Skills based routing"
**Is your feature request related to a problem? Please describe.**
Could not filter automatically customer's specific issues to a related team member.

**Describe the solution you'd like**
Add the skills button in the widget for customers to choose from. So that conversation automatically assigns customer issues to a team member based on their skills.

[2020-12-17 06:11] soyombo-baterdene opened #2541 "Incoming webhook update"
**Is your enhancement request related to a problem? Please describe.**
Some of the webhooks have their own token. For example wootric metric has its own token inside request headers. So it impossible to verify token when receiving data from those webhooks.

**Describe the solution you'd like**
Add custom token field inside webhook form instead of creating new random token for each webhooks of erxe

[2020-12-19 12:48] yashodhan-netserv commented on #2489
Yes, even I cant able to get application running using docker-compose example
I think installation document using docker is broken

[2020-12-19 13:35] antrikshmisri commented on #2536
@erdenezul @munkhorgil  Can you please confirm if this is an issue or am i doing something wrong

[2020-12-22 09:48] soyombo-baterdene opened #2545 ""widgetsSaveBrowserInfo" mutation takes too long when there is larga amount of data on db"
**Describe the bug**
"widgetsSaveBrowserInfo" mutation takes too long when there is larga amount of data on db

[2020-12-22 11:47] WaldemarOrobanche opened #2549 "Conversation: Replies to emails disappear after page refresh"
**Describe the bug**
Replies to emails disappear after page refresh.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Team Inbox;
2. Choose one email from Imap integration;
3. Reply to the email;
4. Refresh the page.

**Expected behavior**
Replies are displayed in the conversation messages.

**Screenshots**
Before refresh
![before-refresh](https://user-images.githubusercontent.com/61522

[2020-12-22 14:16] munkhorgil commented on #2549
Hey @WaldemarOrobanche, this is not a bug, it's an optimistic UI for a better user experience when you send an email, unlike regular messages it needs some time to be synced to in the Erxes from the third party. Once it's synced it will be stored in db

[2020-12-22 14:16] #2549 closed

[2020-12-23 05:27] Enkhtuvshin0513 opened #2551 "Add filter on dashboard reports"

[2020-12-23 18:03] soyombo-baterdene opened #2553 "attributes not working in popups thank content"
attributes not working in popups thank content

[2020-12-24 08:01] soyombo-baterdene opened #2555 "archived popups still showing"
When you archieved popups it's still showing on messenger and website

[2020-12-25 06:30] munkhjin0223 commented on #2536
Hey Antrikshmisri

erxes-api repo is now archived. Instead you can go to api folder of erxes repo.

[2020-12-25 07:03] antrikshmisri commented on #2536
@munkhjin0223 I tried the command in api directory as well , yarn gives me the following error:-
 **error** _Command "initProject" not found_.

[2020-12-25 16:34] Ujjwal3009 commented on #1780
<h1 >Is this issue  fixed or available  to fix ?</h1>

[2020-12-25 16:58] Ujjwal3009 commented on #1780
@ganzorig can you help me to setup erxes locally in my desktop?

[2020-12-29 07:14] #2525 closed

[2020-12-30 03:51] munkhorgil opened #2565 "Improve performance of import worker"
**Is your enhancement request related to a problem? Please describe.**
Consuming higher RAM usage when importing big files.

**Describe the solution you'd like**
Process data with workers as parallel and insert to MongoDB as bulk by 1000 rows.

[2020-12-31 05:10] gentleShark opened #2566 "connecting iOS app to API on DigitalOcean droplet"
**Describe the bug**
I installed the erxes DigitalOcean droplet and was able to log in to the web app. I then downloaded the erxes mobile app from the Apple App Store and clicked the button labeled "Sign in to your server." I added my server URL (making sure I selected the correct protocol, HTTPS), clicked the "Next" button, and got the alert "cannot fetch apiUrl!"

Is the mobile app in the App St

[2020-12-31 12:40] satishkollu commented on #2374
Hey I would love to work on this. can you please assign it

[2020-12-31 12:41] satishkollu commented on #2360
Hey, i would love to work on this. Please assign me this.

[2020-12-31 12:41] satishkollu commented on #2272
Hey, I would love to work on this. Please assign me this.

[2021-01-04 12:38] grupale opened #2571 "Date custom propertie doesn't save"
**Describe the bug**
I created custom properties and set the type as an input and the validation as a date. Neither when editing its value in the contact edition nor when importing a contact with a certain value in this field, the date is saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Properties'
2. Click on 'Add propertie'
3. Set the type as an input and the validation as a d

[2021-01-14 13:38] soyombo-baterdene opened #2588 "Widget Customer refactor"
There is too many visitors in customer database. When  customers visit to website erxes creates unnecessary visitor data on api database.

[2021-01-19 05:50] #2540 closed

[2021-01-20 01:32] ned-kelly commented on #2436
Docs still not updated in Jan 2021... For anyone else with this problem that comes here from Google - please check the compose file posted here: https://github.com/erxes/erxes/issues/2449#issuecomment-722767148

Cheers,

[2021-01-20 02:10] ned-kelly commented on #2489
Check here - this is a working compose example: https://github.com/erxes/erxes/issues/2449

[2021-01-20 02:13] ned-kelly opened #2593 "elksyncer in docker fails to talk to mongo if in separate container (docker)"
When running elksyncer in a docker environment the container will fail to connect to mongo as it's running on a different host (even if `MONGO_URL` and `ELASTICSEARCH_URL` are set...)

(see here: https://github.com/erxes/erxes/blob/master/elkSyncer/main.py#L186)

According to [MongoConnector documentation](https://github.com/yougov/mongo-connector/wiki/Configuration-Options#mainaddress), we need t

[2021-01-20 03:02] abhishek643 opened #2594 "Include"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Context (please include the related

[2021-01-20 03:02] abhishek643 opened #2595 "Content"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the enhancement request here.

[2021-01-20 03:03] abhishek643 opened #2596 "Feature request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-01-20 09:27] #2571 closed

[2021-01-20 09:28] soyombo-baterdene commented on #2571
@grupale Issue is fixed and merged with develop branch.

[2021-01-20 15:12] abhishek643 opened #2600 "Report issue"

[2021-01-20 15:13] abhishek643 opened #2601 "Bug issue"

[2021-01-20 15:13] abhishek643 opened #2602 "Feature issue"

[2021-01-21 05:01] indraganzorig commented on #2512
This is

[2021-01-21 05:01] #2512 closed

[2021-01-22 05:56] #2594 closed

[2021-01-22 05:56] #2595 closed

[2021-01-22 05:56] #2596 closed

[2021-01-22 05:56] #2600 closed

[2021-01-22 05:56] #2601 closed

[2021-01-22 05:56] #2602 closed

[2021-01-25 00:26] becciwatson opened #2607 "Erxes popup embed won't save: Permission Required for admin"
**Describe the bug**
Erxes installed onpremise, Went to create first popup to embed and it won't allow Save.
<img width="157" alt="permission required" src="https://user-images.githubusercontent.com/53285855/105648236-87eb9700-5efe-11eb-9da7-6e4a8ddee47d.png">
I am an admin with all permissions granted in the settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to popups > embed
2. a

[2021-01-25 11:37] mchwalfajar commented on #2449
hello @ned-kelly this is the docker-compose.yml for latest version?

[2021-01-26 08:25] indraganzorig commented on #2607
@soyombo-baterdene or @batamar can you take a look at this when you get a chance?

@becciwatson, in the meantime,
I understand that you're an admin with all permissions, but have you tried assigning the permissions again? https://cln.sh/nwq1iz

[2021-01-27 06:08] becciwatson commented on #2607
I tried assigning the persmission again, it says granted, but still no change.

[2021-01-28 04:20] ned-kelly commented on #2449
Yep - you'll just need to change the versions to `0.20.10` and include this fix: https://github.com/erxes/erxes/issues/2593

[2021-01-29 06:27] mchwalfajar commented on #2593
hello @ned-kelly i have an error with: ```
ERROR: yaml.scanner.ScannerError: mapping values are not allowed here
  in "./docker-compose.yml", line 48, column 21
[code]
version: "2.1"
services:

  # Caddy to proxy pass things together and give me automatic SSL...
  caddy:
    image: bushrangers/alpine-caddy
    container_name: caddy
    restart: always
    ports:
      - 80:80
      - 443:443
    v

[2021-01-29 06:32] mchwalfajar commented on #2449
hello @ned-kelly i have an error with: ERROR: yaml.scanner.ScannerError: mapping values are not allowed here
  in "./docker-compose.yml", line 48, column 21
u have any idea? this is my docker-compose yml, is it right? https://pastebin.com/imh64L6s

[2021-01-29 11:25] munkhorgil opened #2616 "Improvement add subtag in tag"
**Is your enhancement request related to a problem? Please describe.**
No relation between tags, so that users have to create tags in every similar type of issue.

**Describe the solution you'd like**
Add ability to create a subtag.

[2021-01-31 22:50] ned-kelly commented on #2449
Hi @mchwalfajar...

Your docker compose file contains multiple `networks:` directive (it shouldn't) and multiple `erxes-elksyncer`.

Your indentation is also incorrect... I'd suggest using a [YAML parser](https://codebeautify.org/yaml-validator) to validate your dokcer-compose file.

Cheers,

[2021-02-01 00:47] soyombo-baterdene opened #2617 "Enhance popup"
1. Change texts to forms as it should be. Because it's mostly called Forms in other software.
2. Add more filters: By brand, By status (Active, Archived)
3. Add the "Duplicate" button for each form
4. Add some descriptions to the form creating windows.
5. Make it possible to connect existing custom property to form fields.
6. Add "Channel" below "Brands" and make it not required. Choose a channel

[2021-02-01 00:54] soyombo-baterdene opened #2619 "Submit once option not working on form."
when you set up page without messenger widget and  only form. There is some bug with submit once option.

[2021-02-01 00:54] #2619 closed

[2021-02-03 04:42] munkhjin0223 opened #2621 "Add some configs for video call feature"
**Is your enhancement request related to a problem? Please describe.**
Customers are sending frequent video call requests from the messenger widget.

**Describe the solution you'd like**
To set the time delay between requests and a custom message for the customer if he/she sends a request again before the next request.

[2021-02-04 07:53] Anu-Ujin opened #2623 "Popup form UI Improvement"
**Describe the solution you'd like**
Improve popup form UI as same as messenger form UI

[2021-02-05 05:13] Enkhtuvshin0513 opened #2625 "Send tagged message by facebook integration"

[2021-02-09 13:08] munkhjin0223 opened #2629 "Deal, Task, Ticket real-time issue while clicks "Archive All Cards in This List""
**Describe the bug**
In Deal, Task, Ticket, real-time doesn't work while clicks "Archive All Cards in This List"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to deals on two different browsers to show the real-time issue
2. Go to the first browser
3. Click on '...' located at the right top of the stage
4. Click 'Archive All Cards in This List'
5. Don't archive deals on the second brows

[2021-02-10 01:27] munkhjin0223 opened #2631 "Escape regex special characters for product search"
**Describe the bug**
Need to escape regex special characters for product search

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Deals" and add a new deal
2. Go to "Product & Service"
3. Click "Add Product/Service"
4. Click "Choose Product & Service"
5. Cannot search correctly while searching products by regex special character

**Context (please include the related information if appl

[2021-02-11 20:31] clicksmartmedia opened #2635 "Add Fields to Contacts"
Is there a way to add additional fields on top of First Name, Last Name, Email, etc? Id like to add things like Mortgage Balance and Interest Rate, etc. Is there a way to add those fields currently or is this something that would need to be custom coded?

Thanks!

[2021-02-11 21:57] mendorshikh commented on #2635
@clicksmartmedia By the end of Feb or sooner, there will be one release where you can add custom properties.

[2021-02-12 00:11] clicksmartmedia commented on #2635
Thanks @mendorshikh -- I should clarify; I see that you can add the fields, but when I go to import them, I cannot see that they come up to import into. Is this a feature?

When I look at the template file, there aren't custom fields listed in there. Is there a guide on how to find out what they are so that I can import, if that is possible?

Also, when I go to upload a list, I get " AWS credentia

[2021-02-12 00:20] clicksmartmedia opened #2636 ""AWS credentials are not configured" error upon upload"
When I go to upload a csv file I get an error that says "AWS credentials are not configured".

Steps to reproduce the behavior:
1. Go to domain.com/settings/importHistories?type=customer
2. Click on Import Customers
3. Select a csv and click Open

You get the error towards the end of this video => https://www.loom.com/share/eae4f7c148e940d0a25d32b5b2cb35c5

[2021-02-12 04:02] munkhorgil commented on #2636
Hello @clicksmartmedia, Did you config your file upload type? If you don't want to use AWS set file upload type to **local** in Settings-> System Configs also here is the [link](https://www.erxes.org/administrator/system-config#file-upload) for doc.

[2021-02-12 05:30] clicksmartmedia commented on #2636
Awesome. Thanks! @munkhorgil

[2021-02-12 05:31] clicksmartmedia opened #2637 "Upload Max File Size"
Id like to upload more than 3k records at a time. Is there a way to increase the max size? It seems to fail if I go over 3k records at once.

[2021-02-12 07:01] #2636 closed

[2021-02-12 07:05] munkhorgil commented on #2637
Hey @clicksmartmedia, can you share the error you got? and what is the size of records?

[2021-02-12 07:53] clicksmartmedia commented on #2637
3k seems to work. Anything more and you get the error seen in the video. Im guessing there is a limit somewhere in PHP or the app.

https://www.loom.com/share/54dc709ad44247b4b4e1dfc72b1f7fdb

[2021-02-12 08:00] clicksmartmedia opened #2638 "Suppression Import/Upload"
Lets say you get an unsubscribe via your website, via email and via postal card. Then you get a bunch of unsubscribes in your MailChimp account.

How do you remove them from Erxes?

Is there a way to import lists that will change the status of the leads to 'Do not contact/email'?

[2021-02-12 14:08] munkhorgil commented on #2637
Could you make sure that your csv file content's format is right? For example columns that match like other csv file's that imported successfully. The error you got is not related to records size.

[2021-02-12 21:00] clicksmartmedia commented on #2637
@munkhorgil I used the same file when I uploaded so all of the headers are exactly the same. the only thing that was different was the number of records. ive tried it on many different file and different sizes. 3,200 seems to be the max it will allow before throwing that error. thanks for the assistance!

[2021-02-12 21:06] clicksmartmedia opened #2639 "Cannot complete 'create new task' in setup"
Im trying to clear out the workplace setup tasks after installation and the page refreshes when I complete it.

Take a look...
https://www.loom.com/share/255a35499e994356b1587b5dd0ad83a1

[2021-02-13 05:09] munkhorgil commented on #2637
Could you share the screenshot of your server log when importing that file?

[2021-02-14 19:10] avats-dev commented on #2538
I think the way to resolve this is to add a custom image (which will describe the repo best) in settings, as per the github docs on open graph. So, could not be done through a PR, I guess.

[2021-02-16 10:44] rusraul opened #2647 "The Erxes chat service has some connection issues"
We use Erxes chat to provide our users with support at Visitor Analytics.
There seem to be some server issues, that keep us from replying in time, from seeing the messages, from being logged in, from having the chat loaded on our pages etc.

#1
Some users mentioned that they are not able to see the chat bubble, or if they see it, it has a square shape and has a 500 error
Request URL: https://ex.vi

[2021-02-16 11:17] batamar commented on #2647
Hi @rusraul . Please register https://community.erxes.io/channel/help here.

[2021-02-16 11:35] mendorshikh commented on #2647
Hey, @rusraul this is the https://bit.ly/3j133Vi correct link. Once you register, please ping @batamar

[2021-02-16 11:45] batamar commented on #2647
Hi @rusraul . Let's schedule a meeting and have a look at it
https://calendly.com/batamar/15min

[2021-02-16 11:56] rusraul commented on #2647
Hi @batamar unfortunately I cannot register on community.erxes.io It says that "New user registration is currently disabled", and also the link provided by MJ is not valid. Could you please help me out with that? I also managed to schedule a meeting next Friday. Thank you for the assistance!

[2021-02-18 13:05] Anu-Ujin opened #2650 "Can't change form preview when callout skipped"
**Describe the bug**
When click skip callout in form, can't see success preview

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Forms'
2. Click on 'Create forms'
3. Click on callout step
4. Click on "skip callout"
3. Try to see success preview
4. See error

[2021-02-19 01:46] soyombo-baterdene opened #2652 "To create a company via the Incoming Webhook"
**Is your enhancement request related to a problem? Please describe.**
Current webhook is not available to create company

**Describe the solution you'd like**
Make it possible to create company using webhook.

[2021-02-19 07:43] rusraul commented on #2647
Hi @batamar, we'll still have that call today? Please let me know how you'd like us to get into the call. Thank you!

[2021-02-20 11:11] batamar opened #2655 "Global search"
**Describe the solution you'd like**
Searches for conversation, customer, company, deal, tasks, ticket, etc .. from elasticsearch. Also, it can highlight the keyword in the search result

**Additional context**
<img width="996" alt="Screen Shot 2021-02-20 at 19 11 26" src="https://user-images.githubusercontent.com/1748899/108593576-75eefe00-73af-11eb-8ee6-2feea2dd8a5c.png">

[2021-02-22 09:39] APPX-Studio opened #2656 "Ubuntu 18 install error"
![image](https://user-images.githubusercontent.com/49307767/108689981-c0e64e00-7534-11eb-8268-fd20be75a3bb.png)

[2021-02-22 16:12] rusraul commented on #2647
Is there someone who can help? It's already Monday and we did no hear from you. Please advise, thank you!

[2021-02-22 16:53] mendorshikh commented on #2647
@rusraul Please join using this URL: https://bit.ly/37UA1Eb and mention that you are here #help channel

[2021-02-22 23:21] sk8darr opened #2657 "Webhook unavailable"
**Describe the bug**
When I add an outgoing webhook, erxes sets the unavailable status and shows no error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings
2. Click on 'Outgoing webhooks'
3. Add a new webhook
4. See error

**Expected behavior**
When I add an outgoing webhook, erxes sets the unavailable status and shows no error

**Screenshots**
![Captura de pantalla de 2021-02-

[2021-02-23 12:18] rusraul commented on #2647
All clear for now. We successfully talked and we need a fresh install after all, we'll get back if we'll need further assistance. Thank you guys for the help!

[2021-02-24 12:13] #2650 closed

[2021-02-25 09:09] APPX-Studio opened #2660 "nginx: [emerg] invalid number of arguments in "server_name" directive in /etc/nginx/conf.d/default.conf:3"
nginx: [emerg] invalid number of arguments in "server_name" directive in /etc/nginx/conf.d/default.conf:3

![image](https://user-images.githubusercontent.com/49307767/109129887-15cfd180-778c-11eb-9753-c11d800671a0.png)

What should I do?

[2021-02-25 09:21] APPX-Studio opened #2661 "Network error: NetworkError when attempting to fetch resource."
Network error: NetworkError when attempting to fetch resource.
![image](https://user-images.githubusercontent.com/49307767/109131509-d73b1680-778d-11eb-96be-4d5ce4c058cc.png)
What's the problem?
How to solve it?

[2021-02-25 10:49] APPX-Studio opened #2662 "Network error: Failed to fetch"
![image](https://user-images.githubusercontent.com/49307767/109143225-bf1dc400-779a-11eb-8103-252e368fdcc2.png)
![image](https://user-images.githubusercontent.com/49307767/109143370-eb394500-779a-11eb-8e66-921e2fe24635.png)

What's the problem?
How to solve it?

[2021-02-26 08:52] APPX-Studio opened #2663 "Network error: Unexpected token < in JSON at position 0"
![image](https://user-images.githubusercontent.com/49307767/109277870-dae4a100-7852-11eb-9fcc-e1afc3cfa509.png)

![image](https://user-images.githubusercontent.com/49307767/109277836-cc968500-7852-11eb-90bb-bf25f79a5f81.png)

bundle.esm.js:101 POST http://demo.app.com/graphql 405 (Not Allowed)

![image](https://user-images.githubusercontent.com/49307767/109277673-9822c900-7852-11eb-8971-f6f56cdc9e

[2021-03-01 18:15] pablochocobae opened #2665 "UI Overlap in Demo App (Mobile Version)"
I opened the demo Application on my Mobile phone via Google Chrome & Icons on the Nav Bar seems to overlap upon each other. Look down for the screenshots

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Demo App on Android Google Chrome
2. Login using Demo ID
3. See error

**Expected behavior**
Nav Bar Icons should Not overlap
**Screenshots**
If applicable, add screenshots to help expla

[2021-03-02 07:01] #2629 closed

[2021-03-02 07:01] #2631 closed

[2021-03-02 07:01] #2655 closed

[2021-03-04 12:51] soyombo-baterdene opened #2670 "bug: Custom property with checkbox"
**Describe the bug**
Not able to select single number value from check box properties with options with numbers

**To Reproduce**
Steps to reproduce the behavior:
1. Create check box custom property with number options.
2. Go to customer detail and select single value from right side bar then click save.

![image](https://user-images.githubusercontent.com/40427263/109966413-33241300-7d2b-11eb-925e

[2021-03-07 20:17] mrbarnk opened #2673 "Receiving /whatsapp/webhook request from undefined"
**Describe the bug**
Whatsapp chat-api is saying Receiving /whatsapp/webhook request from undefined any time I post a webhook to whatsapp/webhook.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:

Send this data as webhook data to erxes webhook endpoint.

[code]
URL: https://url.com/integrations/whatsapp/webhook

**Expected behavior**
Respons

[2021-03-07 20:52] mrbarnk commented on #2673
![image](https://user-images.githubusercontent.com/37006356/110254434-6d8dea00-7f8f-11eb-832a-67bceb4b2574.png)

It gave the normal `OK` response.

[2021-03-15 02:40] soyombo-baterdene opened #2679 "properties enhancement"
Ability to hide and show customer basic properties in inbox and customer detail seperately.
Also make it possible to add custom properties to deal, task and ticket.

[2021-03-25 04:41] martin-sweeny commented on #2538
This is true

[2021-03-27 09:03] soyombo-baterdene opened #2688 "Form fields with logic rules"
Wants to add logical condition to the form fields also make it possible to create company from form submission.

[2021-03-29 19:48] lionroarsrk opened #2690 "adding share whatsapp button in site"
Adding social button like whatsapp button in the site

[2021-03-29 19:50] lionroarsrk opened #2691 "Adding Instagram sharing button"
Adding instagram sharing button in the site

[2021-03-29 19:51] lionroarsrk opened #2692 "please add back button in the site"
back button adding in the site

[2021-03-29 19:59] lionroarsrk opened #2693 "some share button not working"
youtube and other button are not work

[2021-03-30 20:56] guidupas opened #2697 "net::ERR_CONNECTION_REFUSED after CE Quick Start Installation"
I am not being able to install erxes using CE Quick Start Installation

After installation I try to access it using my server's ip address (192.168.0.246:3000) and it gives me this message:

Using Chrome: net::ERR_CONNECTION_REFUSED

Using Firefox: Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:3300/initial-setup?envs={%22REACT_APP_AP

[2021-04-09 20:19] codihaus commented on #2449
Hi @ned-kelly ,

Thank you for your information.
So, basically, we just need to run your docker-compose file, and everything should work fine, right?

In the source code of v0.20.16, i can see that the /api/commands missed "initProject" command, which is presented on docs page.

So, without it, how could we start the project with user/password? Or we will create it on the localhost:3000?

Also, I'

[2021-04-09 20:27] MatthewScholefield opened #2711 "Docker install instructions broken - Missing initProject command"
**Describe the bug**
When following the [docker installation instructions](https://www.erxes.org/installation/docker/#install-erxes), we can't create the initial user:
[code]

**To Reproduce**
 - Follow the docker guide
 - Try to create the initial user

**Expected behavior**
An initial user is created and we can start using our local deployment.

**Additional context**
This command (along with ot

[2021-04-09 23:37] ned-kelly commented on #2449
Hi @codihaus...

* Caddy will automatically create SSL certificates for you - so if you want this feature you're better to drop Nginx for Caddy ... Otherwise sure you can copy the Caddy Config into Nginx also - both are reverse proxies so both will do the job just fine.

* Heads up, ELK = Elastic Search, Logstash and Kibana - Erxes only uses ES (Just so you don't mix up your terminology in future

[2021-04-10 16:53] codihaus commented on #2711
I'm having the same issue also, this one is not available on the latest version, but the older version has. Not sure what to do.

[2021-04-10 17:01] MatthewScholefield commented on #2711
Also, I tried downgrading to 0.20.5, deleting elasticsearch and mongo data, and running `initProject` and `loadPermissions` but whenever I went to `localhost:3000` it just said "Hang in there" or something and the web request to `erxes-api` (`localhost:3300`) fails with connection reset. Not sure where to find logs for `erxes-api`.

If someone else could try these steps and downgrade to 0.20.5 it'

[2021-04-11 04:26] codihaus commented on #2711
It seems that on the latest version, the installation has been replaced with new package, called https://www.npmjs.com/package/create-erxes-app

And from that, the installation process has been replaced, like we will install NodeJs, pull that package, create the app.

And then, set the environment, run the commands like initiate and migration. So, I suppose "migration" would be the new command tha

[2021-04-13 12:31] munkhjin0223 opened #2715 "Read some graphql queries and resolvers from cache"
To fasten graphql queries and reduce database load, need to read them from the cache.

[2021-04-22 00:19] soyombo-baterdene opened #2729 "widget performance"
widgetGetEngageMessage query calls fields and fieldsgroups from mongo. Make it calls from elasticsearch.

[2021-04-24 21:17] huntr-helper opened #2732 "🚨 Potential Security Vulnerability - huntr.dev"
#### ⚠️ Potential Vulnerability in erxes

👋 Hello, @batamar, @ganzorig, @Anu-Ujin - @ranjit-git has disclosed a potential vulnerability in your repository. To validate or invalidate this potential vulnerability, please visit https://huntr.dev/bounties/1-other-erxes/erxes and join our community in helping secure open-source code.

---

#### ☎️ Need further support?

Come and join us on our [Discord

[2021-04-26 06:54] gantug opened #2734 "ERXES"

[2021-04-26 06:55] gantug opened #2735 "Erxes-2"

[2021-04-26 06:55] gantug opened #2736 "Erxes-3"

[2021-04-26 07:08] #2735 closed

[2021-04-26 07:08] #2736 closed

[2021-04-26 07:08] #2734 closed

[2021-04-27 00:42] soyombo-baterdene opened #2739 "Outgoing webhook with slack"
Not able to show webhook message in slack

[2021-04-27 03:42] indraganzorig commented on #2693
Hi @lionroarsrk do you mean the social icons inside the messenger?

[2021-04-27 05:59] lionroarsrk commented on #2693
Yes but at that time all Share button inside the footer and messenger all
working very well. Problem on facebook and Twitter button but these problem
solved therfore no issues

On Tue, 27 Apr, 2021, 9:12 am Indra Ganzorig, ***@***.***>
wrote:

[2021-04-27 06:03] mninawa opened #2740 "404 (Not Found) on the login screen"
Hi Guys,
when i load the app in my localhost environment, i get this error
http://localhost:3300/set-frontend-cookies?envs={%22REACT_APP_API_URL%22:%22http://localhost:3300%22,%22REACT_APP_API_SUBSCRIPTION_URL%22:%22ws://localhost:3300/subscriptions%22,%22REACT_APP_CDN_HOST%22:%22http://localhost:3200%22,%22REACT_APP_DASHBOARD_URL%22:%22http://localhost:4200%22} 404 (Not Found)

What might be the

[2021-04-27 23:52] soyombo-baterdene opened #2744 "Task, Ticket, Sales pipeline custom property improvement"
add select option with boards & pipelines  to task, ticket, sales pipeline property group add & edit modal

[2021-04-28 09:13] indraganzorig opened #2748 "Deactivated team member avatar is still visible"
**Describe the bug**
Once you deactivate a team member, their avatar is still visible:
- in a card preview in a pipeline
- as an operator in the Messenger widget

**To Reproduce**
Steps to reproduce the behavior:
1. Assign a team member to a card and/or add them as a supporter in the Messenger
2. Deactivate that team member
3. See the error in the Messenger on your web
4. See the error in the Card

[2021-04-28 09:14] indraganzorig commented on #2740
@Myagmarsuren-a can you take a look at this when you get a chance?

[2021-04-28 09:18] indraganzorig opened #2749 "Can't display more than one Form inside the Messenger"
**Describe the bug**
Can no longer display multiple Forms inside the Messenger

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings/App Store/Edit Messenger
2. Click on Add-On slide of the Messenger edit page
3. Choose two Forms and click save
4. Simulate the Messenger
5. See the error, only one of the Forms is visible

**Expected behavior**
To be able to add more than one Form ins

[2021-04-28 09:55] Myagmarsuren-a commented on #2740
@mninawa Can you share your docker-compose file to us please?

[2021-04-28 14:42] mninawa commented on #2740
I have build all the images they reside on my local docker registry!

version: "2.1"
services:
  erxes:
    image: erxes/erxes:0.17.6
    container_name: erxes
    restart: unless-stopped
    environment:
      # erxes
      REACT_APP_CDN_HOST: http://localhost:3200
      REACT_APP_API_URL: http://localhost:3300
      REACT_APP_API_SUBSCRIPTION_URL: ws://localhost:3300/subscriptions
      REACT_AP

[2021-04-30 05:30] #2715 closed

[2021-04-30 15:10] hexclann opened #2752 "No send button in live chat widget and random input asking for email and sms"
**Describe the bug**
I have a live chat widget on my test site, I have disabled the authentication while setting up the live chat, but there's a card asking user for email and sms. How can I disable that?
Also there's no send button in mobile view

**To Reproduce**
Steps to reproduce the behavior:
1. Create a live widget
2. Copy and paste the script in the test website
3. Initiate chat
4. You can

[2021-04-30 15:20] hexclann opened #2753 "Error 400 on Android app and notifications not working"
**Describe the bug**
I have a live chat on my test site. The installation is selfhosted including elasticsearch. I can connect the android app to my server. But whenever there's a new conversation it doesn't send any notification. Also when I go to sales pipeline I get error 400 and the pipeline will be empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the android app
2. Login

[2021-05-02 03:52] mendorshikh commented on #2753
@iwalker7 Plz followup here.

[2021-05-02 10:03] iwalker7 commented on #2753
Hello @hexclann thanks for your feedback.
1) PushNotification
Due to some libraries and developments, it is not possible to configure multiple environment for push notification and it is currently configured to on the Saas version only. I apologize for this, we are working on it and will try to include as soon as possible.
2) 400 Error
That alert is related to the difference between the version of

[2021-05-02 10:38] hexclann commented on #2753
@iwalker7 thanks for the reply, we are looking to get the SaaS version of erxes. I created a free account and logged into the mobile app and initiated a conversation on the live chat, I did not get any notification.The app version is 1.0.9. And I still have #2752 issue, these are the two things that are holding us back from buying SaaS version

[2021-05-02 12:16] iwalker7 commented on #2753
@hexclann Sounds good.
1) Currently the mobile app is developed only meant to show incoming notification. I will meet with the developers to discuss why the notification is not coming. Also i think we will develop it in next spirint.
2) I will tell to web developers about # 2752 issue. The solution on the your mobile browser, you can double-click the done button in the right-bottom corner of your

[2021-05-02 12:51] mendorshikh commented on #2752
@hexclann

1. About the authentication, there are two options. If you enable, email and SMS number ask beforehand. If you disable, email and SMS number ask afterward which you show above.
2. About the send button on the mobile browser, the "return" button on the keyboard is the send button. I will show you via screenshot.

[2021-05-02 12:52] mendorshikh commented on #2752
![image](https://user-images.githubusercontent.com/1748857/116813811-4f57fb00-ab88-11eb-9dd7-7913a1f013b4.jpeg)

[2021-05-02 16:35] hexclann commented on #2753
Thanks for the info

Is it better to have a send button or an icon for better UX?

[2021-05-02 16:35] #2753 closed

[2021-05-02 16:35] #2752 closed

[2021-05-03 08:50] soyombo-baterdene opened #2754 "Add attachment option in the Form confirmation email"
Not able to add attachment to the form confirmation email

[2021-05-04 22:45] timmwille commented on #2538
this was a big downer actually, commons clause creates more problems then it solves. Still looks like a good tool, was hoping for a good new platform to checkout, just violating the GPL is apart from the unclear legal state of each contribution by community members quite full of conflict with other Open Source tools. So at least stating the not-so-obvious would be fair.

[2021-05-05 02:28] mendorshikh commented on #2538
Hey @timmwille, thanks for the feedback. Correct me if I'm wrong.

The reason we are using the commons clause is only to protect from the hosting companies. Applying the Commons Clause to an open-source project will mean the source code is available and meets many of the elements of the Open Source Definition, such as free access to source code, freedom to modify, and freedom to re-distribute, but

[2021-05-05 03:28] soyombo-baterdene opened #2758 "custom styling for form"
Add custom styling options for form creation process

[2021-05-05 10:36] hexclann opened #2759 "How to send chat transcript to the customer after a live chat session"
How to send chat transcript to the customer after a live chat session after the conversation is resolved?

[2021-05-05 22:01] asheasy opened #2762 "Gmail Integration Oauth not refreshing"
**Description**
Gmail Integration is configured using gmail-setup.sh in integrations repo.
After token expires there is no re auth or refresh.

**Steps**
Configure Gmail Integration
Wait 60 mins
401 - UNAUTHENTICATED

**Expected behavior**
If token has expired. Token is refreshed.

**Context (please include the related information if applicable):**
 - OS: Ubuntu 18.04
 - Browser version N/A
 - erx

[2021-05-05 22:03] asheasy commented on #2762
Integration Log records

2021-05-05T14:21:04.046Z erxes-integrations:error 401 - {"error":{"code":401,"message":"Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other
valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.","errors":[{"message":"Invalid Credentials","domain":"global","reason":"authEr

[2021-05-06 01:07] soyombo-baterdene opened #2764 "Form pagination"
Add paging options to form creation process and show it on the widget with pagination progress

[2021-05-06 04:29] Bayarbold7 opened #2765 "1"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Context (please include the related

[2021-05-06 04:29] Bayarbold7 opened #2766 "2"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the enhancement request here.

[2021-05-06 04:30] Bayarbold7 opened #2767 "3"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-05-06 04:46] hexclann opened #2768 "Cannot embed more than one form"
**Describe the bug**
Cannot display more than one form in the same page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Forms' and create 2 or more forms
2. Copy the form code and paste it in a page
3. Only one form will be displayed
4. See error in the browser console

**Expected behavior**
Multiple forms can be embedded without causing an issue

**Screenshots**

![chrome_GjBXe9Zrs8]

[2021-05-06 04:55] mendorshikh commented on #2768
@hexclann How are you? Please check out https://bit.ly/3buY8tY this docs for various types of installing erxes Forms, Messenger, etc with combinations. Especially this section will help: https://bit.ly/3h4NjmJ

[2021-05-07 07:32] soyombo-baterdene opened #2771 "Update 'do not disturb' property - Confusing when used with Forms"
Update 'do not disturb' property as Subscribed. Because it's very confusing when used with Forms

[2021-05-09 06:38] #2765 closed

[2021-05-09 06:38] #2766 closed

[2021-05-09 06:38] #2767 closed

[2021-05-11 04:22] indraganzorig opened #2792 "'URL is invalid' alert when deleting a contact"
Hello,
I am getting an error when I try to remove a contact/companies (delete). Unable to delete and the error says url is invalid.

_Originally posted by @sageirie in https://github.com/erxes/erxes/discussions/2761_

[2021-05-14 00:04] soyombo-baterdene opened #2809 "add sort to form list"
if there are many forms it's very hard to find my form from list.
add sort options to form list

[2021-05-26 12:06] sageirie commented on #2207
you can remote pc

[2021-05-26 14:39] wissem1210 opened #2813 "CORS issue"
**Got CORS issues when deploying erxes on VPS using Docker Swarm**

**Stack file**
I added the  new environment variables, tries multiple versions of erxes, tried to add Access-Control-Allow-Origin with traefik but the problem persisted
![exers](https://user-images.githubusercontent.com/52504385/119679670-74165a00-be38-11eb-9b54-7b3c4688977f.png)

**This is what i get**
![Screenshot from 2021-05-2

[2021-05-26 14:41] mendorshikh commented on #2813
@wissem1210 well received. @Myagmarsuren-a plz take a look.

[2021-05-26 20:25] Myagmarsuren-a commented on #2813
@wissem1210 Please can you share your nginx configuration?

[2021-05-27 07:37] wissem1210 commented on #2813
@Myagmarsuren-a I don't have an nginx configuration file, is there a way to get it work with traefik?

[2021-05-27 09:19] Myagmarsuren-a commented on #2813
@wissem1210 Please try following change ``` MAIN_APP_DOMAIN: http://erxes.vomba.rocks to MAIN_APP_DOMAIN: http://erxes-api.vomba.rocks in erxes-api container```

[2021-05-27 09:33] wissem1210 commented on #2813
I changed it but it didn t resolve the problem
![Screenshot from 2021-05-27 10-32-09](https://user-images.githubusercontent.com/52504385/119802992-f48b9800-bed6-11eb-90f6-3067fd8bd734.png)

[2021-05-28 03:34] ranjit-git commented on #2732
@batamar can you plz look into this report?

[2021-05-31 05:45] bt commented on #2711
Is there an update on this issue? I just finished installing everything and noticed I have no way to `initProject` nor `loadInitialData`. It'd be great if the installation guide was more clear on how to proceed.

[2021-05-31 21:41] hjgrace commented on #2813
I tried to change all "localhost" to ip address in docker file.
it works.

[2021-06-04 10:19] wissem1210 opened #2819 "Can't send email verification to team members"
**Describe the bug**
I deployed erxes on a VPS but when i invited team members they didn't receive the confimation mail.
How can i verify them?
**Screenshots**
This is my configuration
![erxes-config](https://user-images.githubusercontent.com/52504385/120786562-427f4c00-c526-11eb-89af-cd9138b27263.png)

This is the errors form erxes-api that shows when i click on resend email

![Screenshot from 20

[2021-06-04 12:52] Anu-Ujin opened #2820 "Hide knowledgebase children category"
All parent and child categories are visible in widget faq section

[2021-06-08 07:46] wissem1210 commented on #2819
@mendorshikh can you take a look please

[2021-06-10 04:53] SugatoBagchi opened #2827 "Broken link in CONTRIBUTING.md file"
When we click on, "How to Contribute to an Open Source Project on GitHub" link, the redirected link doesn't work.
![image](https://user-images.githubusercontent.com/68023376/121466526-33d8df00-c9d5-11eb-8b73-16e5726e8b49.png)

[2021-06-17 00:00] munkhjin0223 opened #2837 "Company count is showing wrong for "Filter by segment""
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Contacts'
2. Click on 'Companies' tab

**Screenshots**

![localhost_3000_companies_segment=ptpuyuNZEghggSRYY](https://user-images.githubusercontent.com/8898384/122309806-96842a80-cf41-11eb-8ad6-7a62bd76f477.png)

[2021-06-17 06:04] Dhruv1820 opened #2838 "not able to login"
Hi,

Am not able to log in https://xindia.app.erxes.io/sign-in is there any issue on your portal.I had faced the attached error message while we try to log in. Please get back to me with resolved these issues.

[2021-06-20 21:50] k-rajmani2k opened #2840 "Not Secured"
So this website is vulnerable to attacks and hackers might steal the data . so its better if you make this website secure .

[2021-06-20 21:53] k-rajmani2k opened #2841 "Search Bar Issue"
The search bar is not working i tried searching for  docker go no response .

[2021-06-20 22:00] k-rajmani2k opened #2842 "no buttons added for sign up"
when going to this https://xindia.app.erxes.io/sign-up or https://xindia.app.erxes.io/sign-in url reaching
the same page but their is no option for sign up .
also add redirect to sign up button if created,. and login also if needed.

[2021-06-21 01:54] dagors opened #2844 "Add support for whatsapp-web.js"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The current WhatsApp integration is not affordable for everyone, so considering using https://github.com/pedroslopez/whatsapp-web.js may be an option for small businesses.

**Describe the solution you'd like**
A clear and concise descr

[2021-06-22 05:33] soyombo-baterdene opened #2846 "Webhook & Messenger Script enhancement"
Can not create multiple customers in single request using webhook.
Also customer and company customFields need to be added to webhook payload and messenger script

[2021-06-23 14:32] tfoxcroft opened #2849 "Unable to successfully complete docker installation with version 0.20.1"
**Describe the bug**
Good day, Im busy trying to install erxes using the docker installlation steps as outlined here: https://www.erxes.org/installation/docker/ .

All containers appear to start successfully and I am able to login to the system, however I am not sure every is correctly setup because when I navigate to the System Status page, the page does not load. Also, when I change the upload t

[2021-06-23 14:33] tfoxcroft commented on #2849
Text version of the docker logs of the erxes-workers container during socket hangup error:

[code]

[2021-06-30 09:22] srisatya1197 commented on #2402
@shinebayar-g are you working on this or can I give  a shot to this?

[2021-07-01 00:07] samyakOO7 opened #2857 "Old Password (Leave empty if you haven't set it up yet)"
**Describe the bug**
1.When I join through magic link I dont update my password at first. When I go to global dashboard and update my password
it says leave blank if you didn't assign any password but even if I give some random password it takes and updates with my new password.
2. It says atleast 1 special character 1 letter and can't be same as previous password in rules. I am assigning same pas

[2021-07-05 05:16] SanjeevKumar22 opened #2860 "navbar and button and search bar"
**Is your feature request related to a problem? Please describe.**
add new style to navbar when scroll the page changes the color of navbar and remove outline when hover on search bar and add neon button style

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-07-05 18:02] shinebayar-g commented on #2402
Sure, I'm not working on this.

[2021-07-07 08:21] srisatya1197 commented on #2402
@shinebayar-g Are there any contributing guidelines?

[2021-07-07 22:49] developerhincapie commented on #2647
@batamar I have the same problem, Error: GraphQL error: Invalid configuration

[2021-07-19 03:56] Anu-Ujin opened #2872 "Navigation and Settings update"
**Enhancements:**

-  Expandable navigation
-  Update buttons /made small and large buttons to the same/
-  Group profile dropdown navigation

  **In Settings:**

  - Add more new icons
  - Expandable header description
  - Classified into groups
  - Made the left sidebar UI to the same

**Screenshots:**

![Screenshot from 2021-07-19 10-25-44](https://user-images.githubusercontent.com/23444147/126

[2021-07-19 05:02] achalesh27022003 opened #2873 "Adding a contributors' section in documentation."
We can add a contributor's section in readme file of this project making it more clear and a token of appreciation to all contributors there. Secondly we can add tech stack used section also.

I would like to work on this issue. Please assign me.

[2021-07-21 17:26] zidingz opened #2883 "Trying to get in touch regarding a security issue"
Hi there,

I couldn't find a `SECURITY.md` in your repository and am not sure how to best contact you privately to disclose a security issue.

Can you add a `SECURITY.md` file with an e-mail to your repository, so that our system can send you the vulnerability details? GitHub suggests that a [security policy](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your

[2021-07-22 16:49] soyombo-baterdene opened #2887 "outgoing webhook improvement"
![image](https://user-images.githubusercontent.com/40427263/126677262-2ce54415-0ddc-41fd-871e-13fd50005449.png)

when customer adds email or phone number from messenger it does not trigger customer updated webhook action.

[2021-07-23 03:27] soyombo-baterdene opened #2889 "add trackedData to company"
can not add trackedData to company via messenger script or webhook

[2021-08-11 10:10] Myagmarsuren-a opened #2903 "Cannot read property "hit" of undefined"
**Describe the bug**
This bug appears after fresh installation. It happens when i try to use import & export feature. To fix this create customer first after that import and export feature works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on 'import & export'
3. Select files to import
4. error will shown

**Context (please include the related information i

[2021-08-11 23:33] heyakyra commented on #1963
The new clause is incompatible with GPL and violates the copyright of all contributors before the clause was added:

You probably want something like AGPL for better protection without infringing on your contributors license.

[2021-08-12 15:12] ugintl opened #2908 "I want to use it for a client"
I work as a freelancer. I want to use it for a client. Can I do it?

[2021-08-17 04:08] soyombo-baterdene opened #2919 "worker does not work properly"
Error occurs when insert multiple customers or contacts via webhook. Also if property has number validation and data is empty string worker can not insert data. And worker can't find existing company by email or phone number.

[2021-08-18 01:00] DouglasMartins1999 opened #2925 "Official ARM64 docker images support?"
**Is your enhancement request related to a problem? Please describe.**
I realized that most of the project is written in TS/JS, therefore a cross-platform language. However, officially available docker images only support amd64 architecture. With the increasing popularity of arm64, included in Apple's new M1 processors, and many cloud services offering lower-cost instances based on the architectur

[2021-08-18 02:20] timmwille commented on #2538
It is in conflict with other Licenses, that causes a problem when you try to integrate it, even if you're a non-profit or not even plan to sell the hosted version. So in the Open Source Universe it becomes unusable. (I did not invent the copyright, so don't blame me, but calling it Open Source due to its conflicts is just confusing, I might put a lawyer onto this but currently I've settled with ot

[2021-08-26 10:09] sergioisidoro opened #2930 "Clarify "Fair use" in the documentation and readme with use cases."
## Problem
Right now this is the current text:

It mixes using the product it in commercial setting and re-distribution / consulting. I think this results in some confusion and issues like https://github.com/erxes/erxes/issues/2908

## What I would like to see
Clearly answer the question of commercial use with a bit more drilled down questions, by separating consulting and commercial use:

* Can I

[2021-09-02 07:18] munkhjin0223 commented on #2749
Closed by https://github.com/erxes/erxes/commit/b31c8ec999759e2c7919a99fd7a1fab57f5df723

[2021-09-03 03:45] indraganzorig opened #2942 "Ability to stack image and text horizontally in the Form CallOut slide"
**Is your enhancement request related to a problem? Please describe.**
The user wants to set a bigger callout image for Forms. The current version is only suitable for small square images.

**Describe the solution you'd like**
I want to choose the layout stacking: horizontal, vertical.
If chosen horizontal stacking, the uploaded image width should automatically adjust and fill content.

**Addition

[2021-09-03 17:01] nandirb commented on #2942
![Screenshot from 2021-09-04 01-00-20](https://user-images.githubusercontent.com/58172661/132041967-dfbb9948-a32a-4753-acfd-5c139612f236.png)
![Screenshot from 2021-09-04 01-00-35](https://user-images.githubusercontent.com/58172661/132041990-8c6e8b44-74ef-48eb-ac2d-f4d3d89528a9.png)

[2021-09-05 23:53] soyombo-baterdene opened #2944 "add boarditem type to outgoing webhook"
The current version of Webhook does not have any triggers related to tickets, tasks or sales.

[2021-09-06 06:03] indraganzorig opened #2945 "Team Member avatar image stretches in Messenger"
**Describe the bug**
Team member avatar image stretches when viewed as the Messenger operator

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings/Team Members'
2. Upload a _non-square_ image file as the avatar. Looks good from the admin side.
![CleanShot 2021-09-06 at 13 58 59@2x](https://user-images.githubusercontent.com/53030705/132167908-1218c84a-04ac-4c47-bf8f-e96f48167c6a.pn

[2021-09-06 06:15] indraganzorig opened #2946 "Dropdown selection overlaps with other field in the Growth Hacking project editing popup window"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings/Growth Hacking'
2. Click on 'New Project'
3. Add Team member
3. Choose metric
4. See error: https://cln.sh/bsuPC5

**Expected behavior**
Field dropdown should display over the existing selection

[2021-09-06 12:20] nandirb commented on #2945
https://github.com/erxes/erxes-ui/pull/15

[2021-09-07 02:27] indraganzorig commented on #2930
Hi @sergioisidoro this is really helpful.
We'll update our docs accordingly.

[2021-09-07 16:49] srijanishere opened #2949 "Adding a top/bottom scroll button"
**Issue**
Sometimes users don't like to scroll all the way to the bottom to find the company social handles, contacts, etc and again scroll back to the top to the navigation bar

**Solution**
A small "arrow-head" shaped button could be added on the bottom right side which would help in scrolling all the way to the bottom and vice-versa. The direction of the arrow-head would point downwards/upwards

[2021-09-08 10:42] nandirb opened #2951 "add search input on email template list when sending manual email"
![image](https://user-images.githubusercontent.com/58172661/132495185-7da1317d-0331-4f1f-a1fc-9b52c30ac0e2.png)

[2021-09-09 08:53] indraganzorig opened #2953 "Conversation tag title is not fully visible when assigning a tag to a conversation"
**Is your enhancement request related to a problem? Please describe.**
When a user wants to assign a tag to a conversation in the **Team Inbox**, the full title does not appear:
![undefined0 6011026675805384image](https://user-images.githubusercontent.com/53030705/132654019-08c115c7-1fdc-4500-9be1-de788c0b34e0.png)

**Describe the solution you'd like**
The user wants to see the full title. Text wr

[2021-09-09 09:01] oyunerdene-m commented on #2953
@indraganzorig Can I work on this? If so please assign it to me. Thanks

[2021-09-09 09:14] indraganzorig opened #2954 "Ability to edit, update, drag and drop Custom Property options"
**Is your enhancement request related to a problem? Please describe.**
Users can create custom properties in erxes by:
1. Go to Settings -> Properties
2. Choose the Property category from the left-hand side column
3. Click on 'Add Group & Field'
4. Create a group by clicking on 'Add Group'
5. And then create a property by Clicking on 'Add Property'

The current version of a custom property creatio

[2021-09-10 15:18] oyunerdene-m commented on #2954
I am starting to work on it. Please assign it to me @indraganzorig

[2021-09-11 15:34] pawangupta5167 opened #2957 "Change background color of calendar"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the enhancement request here.

[2021-09-11 15:36] pawangupta5167 opened #2958 "Resource page is not responding"

[2021-09-11 15:38] pawangupta5167 opened #2959 "Improve UI of sharing buttons"

[2021-09-11 18:26] Kampani commented on #2949
Hey @indraganzorig I would like to take this issue can you please assign it to me?

[2021-09-12 04:11] KhongorzulD opened #2960 "Picture from knowledgebase article is not properly resize"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Context (please include the related

[2021-09-12 04:45] KhongorzulD opened #2961 "Widget language selection dropdown UX"
**Is your enhancement request related to a problem? Please describe.**
Erxes form, messenger, knowledgebase's language dropdown selection is displayed as a whole, wasting so much space and hiding the other elements behind it.

**Describe the solution you'd like**
Displaying the language selection dropdown as its covering little space and not hiding all of its elements behind it.

![CleanShot 2021-

[2021-09-12 05:07] KhongorzulD opened #2962 "Outgoing webhooks to notify to an external API on creation or updates of deals / products / tasks"
**Describe the solution you'd like**
Allowing to send the data to an external API about the creation or updates of deals, products or deals.

[2021-09-12 05:52] srijanishere commented on #2949
If possible, I would like to work on it as well.

[2021-09-12 15:27] indraganzorig commented on #2949
Hi there, thanks for your interest. Perhaps it's best to assign to the author of the issue in this case.

We'll be creating issues for OS contributors to work on this week. I'll let you know once they're posted.

[2021-09-12 16:54] srijanishere commented on #2949
Thanks for the assigning it to me.

[2021-09-12 17:15] srijanishere commented on #2949
Hey @indraganzorig I'm new to open-source contributing it would be really helpful if you could kindly guide to where the file which contains the source code of the landing page of the website(https://erxes.io/) is because the folder structure has made me a little confused. I would really appreciate the help.

[2021-09-13 09:21] KhongorzulD opened #2963 "Improvement of "Conversation with" on Activity log"
**Describe the solution you'd like**

I want to distinguish by what integration I conversate with the customer (e.g when customer is communicating through facebook messenger, it will be displayed as "Facebook: customer name", as indicated in the figure). This enhancement should also display following characteristics:
- Date,
- Message count,
- Accessed browser, location and related device informat

[2021-09-13 10:22] indraganzorig commented on #2962
Is this the same as this issue @soyombo-baterdene https://github.com/erxes/erxes/issues/2944

[2021-09-13 10:33] indraganzorig commented on #879
This improvement is already possible by creating a custom property with a file type for the Companies:

![CleanShot 2021-09-13 at 18 32 47@2x](https://user-images.githubusercontent.com/53030705/133069035-d5923af5-bd66-4ba3-b802-81a842e7d9b0.png)

![CleanShot 2021-09-13 at 18 32 22@2x](https://user-images.githubusercontent.com/53030705/133069019-d999a09b-7b12-42f7-965d-7b277deb69a4.png)

[2021-09-13 10:33] #879 closed

[2021-09-13 10:34] indraganzorig commented on #896
Still looking for contributors for this

[2021-09-13 10:36] indraganzorig commented on #1226
- [ ] Ensure multiple filter chips at the top navbar do not overlap with the icons at the top right.
- [ ] 'Filter by Integration' selection does not appear at the top as a chip

[2021-09-13 10:37] indraganzorig commented on #992
Outdated issue, not enough context

[2021-09-13 10:37] #992 closed

[2021-09-13 10:38] indraganzorig commented on #2957
Duplicate. Refer to https://github.com/erxes/erxes/issues/1035

[2021-09-13 10:38] #2957 closed

[2021-09-13 10:38] indraganzorig commented on #2958
@pawangupta5167 please add more details.

[2021-09-13 10:39] #1432 closed

[2021-09-15 06:27] KhongorzulD opened #2970 "Internal note is only enabled for webhook conversations in the team inbox"
**Is your enhancement request related to a problem? Please describe.**
Internal note is allowed for webhook integration. But current webhook conversation is seen as they can go without internal note.
![webhook present](https://user-images.githubusercontent.com/90193655/133381726-a8356e29-e2b6-4fdb-bded-af2f40cc7bf6.PNG)

**Describe the solution you'd like**
Since internal note is only enabled for

[2021-09-15 07:50] KhongorzulD opened #2971 "Archived items need to have filter options"
**Is your enhancement request related to a problem? Please describe.**
The show menu displays filter and archived items for tasks. Filter option offers filtering by created members, by priority, by team members, by labels, by companies, by customers, by segments and by due dates. But when members want to filter their archived tasks by those options, current feature can not allow to do it.

**Descr

[2021-09-15 09:22] KhongorzulD opened #2972 "Editing button of last property is blinded by erxes widget"
**Is your enhancement request related to a problem? Please describe.**
Due to erxes widget, last property can not be edited in the properties section.

**Describe the solution you'd like**
In order to edit the last property in the properties, erxes widget needs to be shrinked or got away from the editing button.

**Additional context**
Current issue is seen as follows:
![erxes widget](https://user

[2021-09-16 04:14] RakeshPotnuru commented on #2972
Can I work on this?

[2021-09-16 06:54] KhongorzulD commented on #2972
@RakeshPotnuru Of course. I will assign you. Thank you for your contribution !

[2021-09-16 07:25] RakeshPotnuru commented on #2972
@KhongorzulD
Can you explain to me how to reproduce the bug?

[2021-09-16 07:45] KhongorzulD commented on #2972
Of course. To reproduce:

1. Go to Settings -> Properties
2. Choose the Property category from the left-hand side column
3. Scroll down to bottom of the page and you will see the bug where erxes widget is blinding the editing button of the last property.

[2021-09-16 08:39] indraganzorig commented on #2972
P.S: you might need to add a couple of property groups and properties to fill the screen height wise @RakeshPotnuru

[2021-09-16 10:56] KhongorzulD opened #2974 "Add sort option in the Sales/Task/Ticket/Growth Hacking pipelines list in the Settings"
**Is your enhancement request related to a problem? Please describe.**
It is hard to find the pipeline that the consumer is looking for to edit.
To reproduce:
1. Go to > Settings
2. You will find the feature settings including Sales/Task/Ticket/Growth hacking pipelines
![feature settings](https://user-images.githubusercontent.com/90193655/133598123-e987486b-4cca-4fe8-b9e3-332c7dfb5d04.PNG)
3. Clic

[2021-09-20 08:58] oyunerdene-m commented on #2974
Hi. Can I work on this. Please assign it to me.

[2021-09-20 09:01] KhongorzulD commented on #2974
Hi, of course. I will assign it to you.
Thank you for your contribution !

[2021-09-21 01:52] KhongorzulD opened #2981 "Profile is appeared to be blocked in email templates section."
**Describe the bug**
As seen below, right edge of the email template is blocking / overlapping with the appearance of profile.

![overlapping](https://user-images.githubusercontent.com/90193655/134100081-65acb7a2-619a-4643-ad05-8b81fb255c79.jpg)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings',
2. Click on 'Email template from multipurpose settings',
3. Click on 'Your avatar

[2021-09-23 09:07] oyunerdene-m commented on #2971
Hi. I want to work on this. Please assign it to me.

[2021-09-23 09:12] KhongorzulD commented on #2971
Hi, I assigned it to you. Thank you !

[2021-09-24 08:57] #2954 closed

[2021-09-26 04:49] skylinetenger opened #2993 "Product Query Performance Optimzation"
1. add text index at code, name fields in mongoose schema.
2. modify regex search to text search on indexed fields.
3. add projection or select to include only required fields.
4. add lean method on the end of the GET/find query to parse unnecessary information of full mongo document.

[2021-09-26 10:32] aditya-gaikwad opened #2994 "Couldn't signIn on PC by entering email."
Unable to view the profile by signing in. After clicking on SignIn and entering email it always shows "A mail has been sent on your respective email".

Steps to reproduce the behavior:
1. Go to erxes website and click on signIn [(link to erxes website)](https://erxes.io/)
2.  Enter your Email
3.  You will get an email on your device
4.  After clicking there you should enter on your profile. But in

[2021-09-26 10:46] aditya-gaikwad opened #2995 "Bug in Try Live Demo page"
If a new user not having an account on erxes try to use live demo, would get a space for entering password, and if user enter password it says password is wrong. This is a bug as the user is new so user is not having any password.

Steps to reproduce the behavior:
1. Go to erxes website
2. Clink on Try llive demo
3. Enter Email and password
4. See error

![issue2](https://user-images.githubusercon

[2021-09-26 10:50] aditya-gaikwad opened #2996 "Chat Section needed to be improved"
After clicking on chat icon. A pop up window is opened and after scrolling there is a small bug of non-sticky Support and FAQ Button.

The Support and FAQ button should appear on top of chat section or the alternate way to fix this is to make the support and FAQ button sticky.

![issue3](https://user-images.githubusercontent.com/63276445/134804672-6b867242-ec35-465b-a782-f581cd74672a.PNG)

[2021-09-27 03:15] KhongorzulD opened #2998 "Ability to upload a photo in the Thank you section"
**Describe the solution you'd like**
Want to have an ability to upload a picture in the thank you section. So that, the customers who completed the form can see 'thank you' in more expressive way and It can be illustrated with more beautiful pictures than just words.

**Additional context**
Current thank you section is seen as follows:
![thank  you heseg](https://user-images.githubusercontent.com/

[2021-09-27 04:02] KhongorzulD opened #2999 "Put a length limit on the fields"
**Is your enhancement request related to a problem? Please describe.**
Would like to include a length limit between the number and letters that can be written. So that, e.g customers can see that only 7 numbers must be entered as organization's registration number.

Steps to reproduce the behavior:

1. Go to 'Settings',
2. Click on 'Properties',
3. Click on 'Add property',
![validation](https://us

[2021-09-27 04:27] KhongorzulD commented on #2994
@indraganzorig Hi, Would you please take a look at it?

[2021-09-27 04:40] KhongorzulD commented on #2995
@indraganzorig Would you please take a look at it?

[2021-09-27 04:44] KhongorzulD commented on #2996
@indraganzorig Can you take a look at it please?

[2021-09-27 05:04] indraganzorig commented on #2995
@aditya-gaikwad thanks for this.
We're in the midst of updating the demo page and no longer developing the live demo instance.
Sorry, we should've hidden the buttons sooner.

@nandirb could you please hide the 'try the live demo' button until I get the updated page for you?

[2021-09-27 05:08] indraganzorig commented on #2994
@aditya-gaikwad it seems to be working from my device with a Gmail-supported email address.

Could you please share these with us?

**Context (please include the related information if applicable):**
 - OS: [e.g. Ubuntu 16.04]
 - Browser version [e.g. chrome 75.0.3770.142 safari  12.1.1]
 - erxes version [e.g. 0.9.17, 0.9.16]
 - installation type [e.g docker, manual]

[2021-09-27 05:08] KhongorzulD opened #3000 "Ability that 'assign to me' appears first."
**Describe the solution you'd like**
"Task, Team Inbox, Ticket, and Deals", all sections which have 'assign to' feature need to have an option of 'assign to me' that will appear first in the top of the search.

**Additional context**
Erxes team can access to the task card using [this link](https://office.erxes.io/task/board?id=wKbpQmWs3Aj7WXjc2&itemId=vdbqHJtC8R7EAik2g&key=&pipelineId=xYYjieTMKAwK

[2021-09-27 05:13] indraganzorig commented on #2996
We could definitely improve the vertical scrolling and leaving the Support/FAQ tabs fixed.

Would you be interested in working on this issue @aditya-gaikwad ?
If so, @Anu-Ujin can provide some guidelines

[2021-09-29 04:19] KhongorzulD opened #3010 "Phone number validation"
**Describe the bug**
Current phone number validation is not working properly in both form field and contact details. When clicking the save button, validation directly allows any number characters without specific standard. But allowing the any numbers in phone causes wrong sms or call. Therefore, phone numbers need to have a standard input.

**To Reproduce**
Steps to reproduce the behavior in FOR

[2021-09-29 04:21] KhongorzulD opened #3011 "Import primary phone validation"
**Describe the bug**
Importing customer data should not allow the phone number if it contains texts or without written in standard form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Import & Export'
3. Click on  'Import customers'
4. Import csv customer file including its phone number containing any text or numbers.
5. After importing the file, click on 'Show

[2021-09-29 04:53] KhongorzulD opened #3012 "Add Email and Phone verification status on companies contact details."
**Describe the bug**
Primary email and primary phone verification status is not shown in the companies contact details as customers details do.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Contacts'
2. Click on 'Companies'
3. Click on 'editing icon next to companies avatar'
4. Scroll down to 'edit basic info'
5. You will see there are no primary email and primary phone verification

[2021-09-29 05:43] KhongorzulD opened #3013 "Remove the former forms after changing the brand in edit messenger integration."
**Describe the bug**
When you change or create a brand to edit messenger integration in the settings, the old forms are still there.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Integrations'
3. Click on ' Erxes Messenger and edit messenger integration
4. Click on 'Integration setup'
5. Change or create a brand in integration setup
6. See the forms in Add Ons

[2021-09-30 05:01] #2995 closed

[2021-10-01 15:32] KhongorzulD commented on #2959
@pawangupta5167 Hello, please give us a description to this issue.
Thank you.

[2021-10-01 15:35] KhongorzulD commented on #2958
Hello @pawangupta5167 I am kindly asking what happened to this issue. And would you give us any description to it?.

[2021-10-01 15:52] KhongorzulD commented on #2925
@DouglasMartins1999  Hey! I am apologizing for the late response. However, thank you for your suggestion and we will do some research on it and get back to you again. Also if you would like to work on this, let me know to assign it to you and we will happy to welcome you on it.

[2021-10-01 20:36] grupale opened #3027 "Bad Gateway error during Quick Step installation"
Im trying to build a fresh installation in a Ubuntu server with the Quick Step installation and Im getting this errors during the installation
after setting the domain:

![image](https://user-images.githubusercontent.com/10934794/135683217-b8869d6f-d64b-430b-9c8e-51d3cffd4031.png)

and after choosing y to install RabbitMQ
![image](https://user-images.githubusercontent.com/10934794/135683240-05df69

[2021-10-02 12:55] dddqwerty commented on #2999
can you assign it to me?

[2021-10-02 12:57] KhongorzulD commented on #2999
Hi @dddqwerty, I assigned it to you. Thank you for your contribution !

[2021-10-03 04:07] Siddharth1002 commented on #2998
Can i Try working on this issue?

[2021-10-03 17:18] zatch3301 commented on #2959
/assign

[2021-10-03 17:23] zatch3301 commented on #2691
can you please assign this to me.

[2021-10-04 02:31] KhongorzulD commented on #2998
Hi @Siddharth1002, Of course, I assigned it to you. Thank you for your contribution !

[2021-10-04 10:57] KhongorzulD opened #3028 "Ability to mark as read and unread in team inbox conversation"
**Describe the solution you'd like**

Add an icon representing the users to mark as read and unread the conversation next to the tag in team inbox.

![read](https://user-images.githubusercontent.com/90193655/135839443-cd294009-98ad-4843-81e7-e2790272333e.png)

Erxes team can access to the task card using[ the link ](https://office.erxes.io/task/board?id=wKbpQmWs3Aj7WXjc2&itemId=6MdTDNnzsudvtSEma&k

[2021-10-04 11:24] KhongorzulD opened #3029 "Card improvement"
**Is your enhancement request related to a problem? Please describe.**

In the card improvement following issues need to take into account:

- in the checklist, there is no ability to mention the team members
-  URL is not recognized in note, description and checklist

**Describe the solution you'd like**

- Add an ability to mention the team members in the checklist of the card.
- When you enter

[2021-10-04 11:48] KhongorzulD opened #3030 "Can not close the card when its size is small"
**Describe the bug**

"x" character or closing button of a card is not working properly when the size of a card is small.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Any section which has a card'
2. Click on 'Any card'
3. Zoom in 'That card'
4. See error when trying to close that card.

**Expected behavior**
Regardless of the size of a card, the card will close when you click at t

[2021-10-04 12:01] KhongorzulD opened #3032 "Open a new tab when clicking to the link in the cards of task, tickets and sales."
**Is your enhancement request related to a problem? Please describe.**
When clicking to the link located in the card description, it automatically opens in the existing tab. It causes an issue when need to go back to the card tab.

**Describe the solution you'd like**
Want to open a new tab to the link clicked in the description of the card.

To reproduce the behavior:
1. Go to the 'Card'
2. Put a

[2021-10-04 12:14] KhongorzulD opened #3033 "Ability to see a card created date and user"
**Is your enhancement request related to a problem? Please describe.**
In the current card detail, It is not possible to see the card's created date and user.

**Describe the solution you'd like**
Want to see the card created date and card created user(indicating user's avatar)next to the card name /top right of the card/ as described below:

![card](https://user-images.githubusercontent.com/90193

[2021-10-04 13:38] benardcharumbira commented on #3030
@KhongorzulD may you please assign this to me

[2021-10-04 13:44] KhongorzulD commented on #3030
Hi @benardcharumbira, I assigned it to you. Good luck !

[2021-10-06 01:59] soyombo-baterdene opened #3038 "form logic bug"
The form field is logical also required, and if the logical field does not fulfill the logic, you will not be able to go to the next page.

[2021-10-06 04:48] KhongorzulD commented on #2949
@indraganzorig Hello, Could you please take a look at it

[2021-10-06 05:01] #2974 closed

[2021-10-06 05:06] KhongorzulD commented on #2889
@soyombo-baterdene Hi, I am kindly asking whether this issue is solved or not and could you give me what process this issue is going on now.

[2021-10-06 05:09] soyombo-baterdene commented on #2889
@KhongorzulD   This task is completed. I'm sorry, I forgot to close.

[2021-10-06 08:16] KhongorzulD commented on #2993
Hello @skylinetenger Since you are working on this issue, would you mind if I assign you ?

[2021-10-06 08:17] KhongorzulD commented on #3027
@batamar Hi, Could you please take a look at it?

[2021-10-06 08:42] KhongorzulD commented on #2919
@soyombo-baterdene Hi, is this issue also solved? Can I close it?

[2021-10-06 08:45] soyombo-baterdene commented on #2919
Hey @KhongorzulD, yes you can close it.

[2021-10-06 08:47] #2919 closed

[2021-10-06 08:51] #2961 closed

[2021-10-06 09:20] #3038 closed

[2021-10-06 16:36] KhongorzulD commented on #2860
Hi @SanjeevKumar22 Sorry for the late response. However, it would be great if you describe this issue in more detail with the solution.

[2021-10-06 16:42] KhongorzulD commented on #2857
Hi @samyakOO7, I am apologizing for the late response. However, do you still have a same issue when it comes to updating your password. And if so, I would like to ask that you can contribute to this issue. If you agreed, I will assign it to you. Thank you.

[2021-10-06 16:44] KhongorzulD commented on #2849
Hello @tfoxcroft, I am apologizing for the late response. However, do you still have this issue or did you already solve it?. I would very much appreciate if you give me a response. Thank you

[2021-10-06 17:07] KhongorzulD commented on #2846
Hi @soyombo-baterdene, Can I close this issue?

[2021-10-06 17:10] KhongorzulD commented on #2844
Hi @dagors, Sorry for the late response. However thank you for your suggestion.

[2021-10-06 17:24] KhongorzulD commented on #2841
Hi @k-rajmani2k, Sorry for the late response. However, i would like to say that it is working now. And let me know If you still facing same issue.

[2021-10-06 17:24] #2841 closed

[2021-10-06 17:25] KhongorzulD commented on #2840
Hi @k-rajmani2k, Thank you for your suggestion. We will take your issue into account. Thank you.

[2021-10-06 17:25] #2840 closed

[2021-10-06 17:41] #2820 closed

[2021-10-06 17:48] #2809 closed

[2021-10-06 17:51] #2792 closed

[2021-10-06 17:53] #2771 closed

[2021-10-06 18:02] #2754 closed

[2021-10-06 18:07] #2744 closed

[2021-10-06 18:14] #2693 closed

[2021-10-06 18:15] KhongorzulD commented on #2692
Hi @lionroarsrk, Could you give a detailed explanation on this issue?

[2021-10-06 18:20] #2679 closed

[2021-10-07 11:11] #2623 closed

[2021-10-07 11:23] #2541 closed

[2021-10-07 11:26] KhongorzulD commented on #2521
Hi @Aashrut, Sorry for the late response. However thank you for your contribution

[2021-10-07 11:48] #2436 closed

[2021-10-15 07:08] aspiringananya commented on #3033
@KhongorzulD  Please assign this to me

[2021-10-17 10:40] KhongorzulD commented on #3032
Hi @wweverma1 I assigned it to you. Thank you for your contribution !

[2021-10-17 15:19] ashutoshanand13 opened #3055 "Getting 404 error for one of the pricing links"
**Describe the bug**
Whenever clicking on the pricing menu after going to the [Erxes Installation](https://erxes.io/install/) link, it gives a 404 error.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Erxes Installation](https://erxes.io/install/)
2. Click on Pricing Menu (https://erxes.io/install/pricing)
3. See error

**Expected behavior**
Should display the pricing page

**Screensh

[2021-10-18 10:54] wweverma1 commented on #3032
@KhongorzulD can you please help me in setting up the project in my local environment?
I cloned this repository https://github.com/erxes/erxes and ran "npm install" but I'm unable to proceed further.

[2021-10-19 11:05] KhongorzulD opened #3058 "Save into phone, email, custom field when clicking from the chat conversation"
**Describe the solution you'd like**
Customer property list will appear when clicking the chat conversation of customer. It will include phone, email, and custom field. Chosen text will be saved in customer property automatically. Related picture as described below:

![field](https://user-images.githubusercontent.com/90193655/137897341-da89ae7d-140a-47ca-b49f-c41f90b08c00.PNG)

Erxes team can see

[2021-10-21 16:13] KhongorzulD commented on #3012
Hi @Palaksharma23 I assigned it to you. Thank you for your contribution !

[2021-10-24 15:30] Slv-WebTech opened #3066 "slow done"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Context (please include the related

[2021-10-24 15:31] Slv-WebTech opened #3067 "enhance productivity"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the enhancement request here.

[2021-10-24 15:31] Slv-WebTech opened #3068 "add more features"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-10-24 19:19] #3068 closed, assigned to nobody

[2021-10-24 19:19] #3067 closed, assigned to nobody

[2021-10-24 19:19] #3066 closed, assigned to nobody

[2021-10-26 16:45] Palaksharma23 opened #3077 "Little margin should be there"
**Is your enhancement request related to a problem? Please describe.**
I guess there should be a little margin in between these two lines it will look more great

![erxes](https://user-images.githubusercontent.com/87171452/138923951-f5ea8b0d-946a-4acb-a8ff-05292d57bcf6.png)

[2021-10-27 09:13] Jarrodsz opened #3080 "Hang in there! We'll be right back with you <-- Docker install not working"
**Describe the bug**
Docker compose
Docker compose up -d

**To Reproduce**
Steps to reproduce the behavior:
1. See above
Using the docker-compose.yml from official docs

**Expected behavior**
Erxes running on port 4000 without the error Hang in there! We'll be right back with you <-- Docker install not working

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Context

[2021-10-31 16:48] Jarrodsz commented on #3080
Anyone?

[2021-10-31 16:56] Jarrodsz opened #3086 "This repo is death? End of life for erxes?"
Probably shifted towards commercial no commits in 1 year?

Is this repo used at all death? End of live for erxes?

[2021-11-01 18:27] KhongorzulD commented on #3080
Hi @Jarrodsz Thank you for informing us.
@Myagmarsuren-a  Please take a look at it. Thank you

[2021-11-01 18:43] KhongorzulD commented on #3012
Hi @Palaksharma23 Please look at this following link [contacts.pdf](https://github.com/erxes/erxes/files/7455469/contacts.pdf)

[2021-11-01 18:46] KhongorzulD commented on #570
Hi @Batchimegb, I would like to know about the issue's current status. If it is already solved, I will close the issue.

[2021-11-01 18:49] KhongorzulD commented on #617
It seems like the issue is already found its solution so I will close the issue if there's not anything that contradicts to it.

[2021-11-01 18:49] #617 closed

[2021-11-01 18:50] #754 closed

[2021-11-01 18:53] KhongorzulD commented on #773
Hi @Mambatukaa I would like to know the current status of this issue. If it is already found its solution I will close the issue.

[2021-11-01 18:56] KhongorzulD commented on #827
As I see, there is no description on this issue so if possible @Mambatukaa please share with me the current status of this issue. If it is already found its solution back then i will close the issue.

[2021-11-01 18:59] KhongorzulD commented on #894
Hi @Anu-Ujin if it possible please give me an update on this issue whether we have solved the issue or still working on it. Thank you

[2021-11-01 19:04] KhongorzulD commented on #1040
@munkhorgil if it is possible please give more explanation on this issue

[2021-11-01 19:07] KhongorzulD commented on #1056
Hi @Batchimegb please give me an update on this issue whether it is solved or still working on it. Since the issue has no description, it would be great if you tell me more about the issue.

[2021-11-01 19:07] #1161 closed

[2021-11-02 08:33] indraganzorig commented on #2998
Reassigning this task, as there were no updates in about a month.

[2021-11-02 11:49] arunodhayam10d opened #3088 "erxes not working on contabo server"
I have installed the erxes on my local machine using docker-compose, It's working very well. But I need to install it on contabo server, while setup the erxes in contabo server it's not working. It shows Hanging there

![Screenshot from 2021-11-02 17-05-31](https://user-images.githubusercontent.com/92092662/139840661-5a229a0d-9944-4007-900e-70e4b98a6732.png)

I have followed this blog to set up th

[2021-11-02 13:57] arunodhayam10d commented on #3080
Hi @Jarrodsz Did You follow this https://www.erxes.org/installation/docker/??

[2021-11-02 14:03] Jarrodsz commented on #3080
Yes exact those instructions.
Tried it for 3 hours with all kinds of debugging to no avail.

The application just does not boot up correctly after you go to localhost with the correct port it shows the hand in there error message forever.

[2021-11-02 15:40] indraganzorig commented on #3086
Hi @Jarrodsz, no we're alive and well.
We're still working on some exciting new features that we're testing in a private repo.

Also, we're will release a new version this week.

[2021-11-03 03:15] Jarrodsz commented on #3080
Ok thank you..

It seems
the docker-compose.yml has a "redis" as the server location. Which I changed to "localhost" but then it fails also.
It seems it cannot connect to redis and this is causing the issues.

My docker-compose.yml is from the documentation with small modification in hostname for redis:

[code]

No idea where to go from here

[2021-11-03 10:26] Jarrodsz commented on #3088
same issue here, there is a problem with the docker setup

[2021-11-03 12:20] Palaksharma23 commented on #3077
could you provide me some reference to the front page html

[2021-11-03 15:21] #2748 closed

[2021-11-03 15:21] #2837 closed

[2021-11-03 15:21] #2872 closed

[2021-11-04 10:50] Jarrodsz commented on #3080
Any updates on this?

[2021-11-04 13:16] KhongorzulD commented on #3077
Hey @nandirb, I hope you're doing well. Can u please provide what @Palaksharma23 requested please. Thank you.

[2021-11-04 13:23] KhongorzulD commented on #3030
Hello @benardcharumbira, Can I ask what status or processes are u going on right now with this issues, and please provide me some updates solving this issue. Because it seems like you are not working on this over the month. If you stopped working on it, I need to consider to reassign this issue to someone else. Please provide me a response on it. Thank u !

[2021-11-04 13:26] KhongorzulD commented on #3033
Hey @aspiringananya How are u, how's the work of solving the issue?. Can u please provide me some updates regarding with this issue. Because it seems like u are no longer working on it almost a month. Hence it would be better for me to reassign this issue to someone else if u stopped working on it. So please let me know or give me a response on it. Thank u !

[2021-11-04 14:15] aspiringananya commented on #3033
Hi ,

I am on vacation at the present moment you can have it reassigned !

On Thu, Nov 4, 2021 at 6:56 PM Khongorzul Davaajav ***@***.***>
wrote:

[2021-11-04 16:25] indraganzorig commented on #3086
There is a new release now https://github.com/erxes/erxes/discussions/3098

[2021-11-04 16:26] indraganzorig commented on #3088
@batamar is working tirelessly re the docker issue.
We're a little short on people due to covid these days.

[2021-11-05 07:58] KhongorzulD commented on #3077
Hey @Palaksharma23, due to the internal access we decided to work on this by ourselves. Anyways, thank u for your suggestion and goodluck for your other issues that u working on so far !

[2021-11-05 20:15] Jarrodsz commented on #3080
Any updstes on this?

The containers where updated but they still do not work. Hoe hard is it to debug this and provide a fix?

Ita the redis server that gives connection refused in the docker logs

[2021-11-06 03:34] nandirb commented on #3077
<img width="1284" alt="Screen Shot 2021-11-06 at 11 31 52" src="https://user-images.githubusercontent.com/58172661/140596613-28b36111-efeb-434b-a007-d693e1c5d587.png">
Thank you for your suggestion @Palaksharma23 It looks better now

[2021-11-06 03:50] #3077 closed

[2021-11-09 00:21] avping opened #3102 "docker-compose fix"
change elasticsearch volume to:
    volumes:
      - ./elasticsearch-data:/usr/share/elasticsearch/data

type error on docker-compose.yml (https://www.erxes.org/installation/docker)

[2021-11-09 00:22] avping commented on #3080
#3102

[2021-11-09 00:23] avping commented on #3088
#3102

[2021-11-09 00:49] Jarrodsz commented on #3102
Im still getting

(node:1) UnhandledPromiseRejectionWarning: MongoNetworkError: failed to connect to server [mongo:27017] on first connect [Error: connect ECONNREFUSED 172.18.0.15:27017

Would I set the hostnames for       REDIS_HOST: "redis"
etc?

[2021-11-09 00:59] Jarrodsz commented on #3102
[ioredis] Unhandled error event: Error: connect ECONNREFUSED 127.0.0.1:6379

    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1145:16)

[ioredis] Unhandled error event: Error: connect ECONNREFUSED 127.0.0.1:6379

    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1145:16)

[ioredis] Unhandled error event: Error: connect ECONNREFUSED 127.0.0.1:6379

    at TCPConnectWrap.afterConn

[2021-11-09 04:34] arunodhayam1998 commented on #3088
I already changed @avping but no use.... Its works on local machines only. But when we use any other server like contabo, digital ocean it's getting struck

[2021-11-09 16:04] avping commented on #3088
show us your docker-compose file, start it without -d and paste the output.

[2021-11-09 16:10] Jarrodsz commented on #3088
This is mine:

[code]
Creating network "erxes_erxes-net" with driver "bridge"
Creating elasticsearch         ... done
Creating erxes-logger          ... done
Creating erxes-engages         ... done
Creating erxes-workers         ... done
Creating rabbitmq              ... done
Creating erxes-widgets         ... done
Creating erxes-dashboard-front ... done
Creating erxes-elksyncer       ... done
Cr

[2021-11-09 16:26] avping commented on #3102
show us your docker-compose file, start it without -d and paste the error output

[2021-11-09 18:22] Jarrodsz opened #3104 "Error: Integrations api is not running"
**Describe the bug**
Error: Integrations api is not running

**To Reproduce**
Steps to reproduce the behavior:
Docker deployment on localhost

**Expected behavior**
Be able to add an integration like map

**Context (please include the related information if applicable):**
 - OSX latest versions of docker + containers

[code]

[2021-11-09 18:55] avping commented on #3027
thats because of ubuntu 18.04 and libc6=2.27, if u dont choose rabbitmq during install it should work fine. otherwise update libc6 to >=2.29.

[2021-11-10 12:07] OMGUPTA21 opened #3105 "PLEASE GIVE SOME PYTHON RELATED PROJECT"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the enhancement request here.